
html {
    box-sizing: border-box
}






*,
*:before,
*:after {
    box-sizing: inherit
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    width: 0px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #6f85d5;
    border-radius: 50px;
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #98abf0;
    border-radius: 50px;
  }


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}



html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.ks-serif {
    font-family: serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.ks-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.ks-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.ks-table,
.ks-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.ks-table-all {
    border: 1px solid #ccc
}

.ks-bordered tr,
.ks-table-all tr {
    border-bottom: 1px solid #ddd
}

.ks-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.ks-table-all tr:nth-child(odd) {
    background-color: #fff
}

.ks-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.ks-hoverable tbody tr:hover,
.ks-ul.ks-hoverable li:hover {
    background-color: #ccc
}

.ks-centered tr th,
.ks-centered tr td {
    text-align: center
}

.ks-table td,
.ks-table th,
.ks-table-all td,
.ks-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.ks-table th:first-child,
.ks-table td:first-child,
.ks-table-all th:first-child,
.ks-table-all td:first-child {
    padding-left: 16px
}

.ks-btn,
.ks-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.ks-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.ks-btn,
.ks-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ks-disabled,
.ks-btn:disabled,
.ks-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.ks-disabled *,
:disabled * {
    pointer-events: none
}

.ks-btn.ks-disabled:hover,
.ks-btn:disabled:hover {
    box-shadow: none
}

.ks-badge,
.ks-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.ks-badge {
    border-radius: 50%
}

.ks-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.ks-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.ks-ul li:last-child {
    border-bottom: none
}

.ks-tooltip,
.ks-display-container {
    position: relative
}

.ks-tooltip .ks-text {
    display: none
}

.ks-tooltip:hover .ks-text {
    display: inline-block
}

.ks-ripple:active {
    opacity: 0.5
}

.ks-ripple {
    transition: opacity 0s
}

.ks-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.ks-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.ks-dropdown-click,
.ks-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.ks-dropdown-hover:hover .ks-dropdown-content {
    display: block
}

.ks-dropdown-hover:first-child,
.ks-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.ks-dropdown-hover:hover > .ks-button:first-child,
.ks-dropdown-click:hover > .ks-button:first-child {
    background-color: #ccc;
    color: #000
}

.ks-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.ks-check,
.ks-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.ks-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}

.ks-bar-block .ks-dropdown-hover,
.ks-bar-block .ks-dropdown-click {
    width: 100%
}

.ks-bar-block .ks-dropdown-hover .ks-dropdown-content,
.ks-bar-block .ks-dropdown-click .ks-dropdown-content {
    min-width: 100%
}

.ks-bar-block .ks-dropdown-hover .ks-button,
.ks-bar-block .ks-dropdown-click .ks-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.ks-main,
#main {
    transition: margin-left .4s
}

.ks-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.ks-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.ks-bar {
    width: 100%;
    overflow: hidden
}

.ks-center .ks-bar {
    display: inline-block;
    width: auto
}

.ks-bar .ks-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.ks-bar .ks-dropdown-hover,
.ks-bar .ks-dropdown-click {
    position: static;
    float: left
}

.ks-bar .ks-button {
    white-space: normal
}

.ks-bar-block .ks-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.ks-bar-block.ks-center .ks-bar-item {
    text-align: center
}

.ks-block {
    display: block;
    width: 100%
}

.ks-responsive {
    display: block;
    overflow-x: auto
}

.ks-container:after,
.ks-container:before,
.ks-panel:after,
.ks-panel:before,
.ks-row:after,
.ks-row:before,
.ks-row-padding:after,
.ks-row-padding:before,
.ks-cell-row:before,
.ks-cell-row:after,
.ks-clear:after,
.ks-clear:before,
.ks-bar:before,
.ks-bar:after {
    content: "";
    display: table;
    clear: both
}

.ks-col,
.ks-half,
.ks-third,
.ks-twothird,
.ks-threequarter,
.ks-quarter {
    float: left;
    width: 100%
}

.ks-col.s1 {
    width: 8.33333%
}

.ks-col.s2 {
    width: 16.66666%
}

.ks-col.s3 {
    width: 24.99999%
}

.ks-col.s4 {
    width: 33.33333%
}

.ks-col.s5 {
    width: 41.66666%
}

.ks-col.s6 {
    width: 49.99999%
}

.ks-col.s7 {
    width: 58.33333%
}

.ks-col.s8 {
    width: 66.66666%
}

.ks-col.s9 {
    width: 74.99999%
}

.ks-col.s10 {
    width: 83.33333%
}

.ks-col.s11 {
    width: 91.66666%
}

.ks-col.s12 {
    width: 99.99999%
}

@media (min-width:601px) {
    .ks-col.m1 {
        width: 8.33333%
    }
    .ks-col.m2 {
        width: 16.66666%
    }
    .ks-col.m3,
    .ks-quarter {
        width: 24.99999%
    }
    .ks-col.m4,
    .ks-third {
        width: 33.33333%
    }
    .ks-col.m5 {
        width: 41.66666%
    }
    .ks-col.m6,
    .ks-half {
        width: 49.99999%
    }
    .ks-col.m7 {
        width: 58.33333%
    }
    .ks-col.m8,
    .ks-twothird {
        width: 66.66666%
    }
    .ks-col.m9,
    .ks-threequarter {
        width: 74.99999%
    }
    .ks-col.m10 {
        width: 83.33333%
    }
    .ks-col.m11 {
        width: 91.66666%
    }
    .ks-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .ks-col.l1 {
        width: 8.33333%
    }
    .ks-col.l2 {
        width: 16.66666%
    }
    .ks-col.l3 {
        width: 24.99999%
    }
    .ks-col.l4 {
        width: 33.33333%
    }
    .ks-col.l5 {
        width: 41.66666%
    }
    .ks-col.l6 {
        width: 49.99999%
    }
    .ks-col.l7 {
        width: 58.33333%
    }
    .ks-col.l8 {
        width: 66.66666%
    }
    .ks-col.l9 {
        width: 74.99999%
    }
    .ks-col.l10 {
        width: 83.33333%
    }
    .ks-col.l11 {
        width: 91.66666%
    }
    .ks-col.l12 {
        width: 99.99999%
    }
}

.ks-rest {
    overflow: hidden
}

.ks-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.ks-content,
.ks-auto {
    margin-left: auto;
    margin-right: auto
}

.ks-content {
    max-width: 980px
}

.ks-auto {
    max-width: 1140px
}

.ks-cell-row {
    display: table;
    width: 100%
}

.ks-cell {
    display: table-cell
}

.ks-cell-top {
    vertical-align: top
}

.ks-cell-middle {
    vertical-align: middle
}

.ks-cell-bottom {
    vertical-align: bottom
}

.ks-hide {
    display: none!important
}

.ks-show-block,
.ks-show {
    display: block!important
}

.ks-show-inline-block {
    display: inline-block!important
}

@media (max-width:1205px) {
    .ks-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .ks-modal-content {
        margin: 0 10px;
        width: auto!important
    }
    .ks-modal {
        padding-top: 30px
    }
    .ks-dropdown-hover.ks-mobile .ks-dropdown-content,
    .ks-dropdown-click.ks-mobile .ks-dropdown-content {
        position: relative
    }
    .ks-hide-small {
        display: none!important
    }
    .ks-mobile {
        display: block;
        width: 100%!important
    }
    .ks-bar-item.ks-mobile,
    .ks-dropdown-hover.ks-mobile,
    .ks-dropdown-click.ks-mobile {
        text-align: center
    }
    .ks-dropdown-hover.ks-mobile,
    .ks-dropdown-hover.ks-mobile .ks-btn,
    .ks-dropdown-hover.ks-mobile .ks-button,
    .ks-dropdown-click.ks-mobile,
    .ks-dropdown-click.ks-mobile .ks-btn,
    .ks-dropdown-click.ks-mobile .ks-button {
        width: 100%
    }
}

@media (max-width:768px) {
    .ks-modal-content {
        width: 500px
    }
    .ks-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .ks-modal-content {
        width: 900px
    }
    .ks-hide-large {
        display: none!important
    }
    .ks-sidebar.ks-collapse {
        display: block!important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .ks-hide-medium {
        display: none!important
    }
}

@media (max-width:992px) {
    .ks-sidebar.ks-collapse {
        display: none
    }
    .ks-main {
        margin-left: 0!important;
        margin-right: 0!important
    }
    .ks-auto {
        max-width: 100%
    }
}

.ks-top,
.ks-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.ks-top {
    top: 0
}

.ks-bottom {
    bottom: 0
}

.ks-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

.ks-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.ks-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.ks-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.ks-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.ks-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.ks-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.ks-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.ks-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.ks-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.ks-display-container:hover .ks-display-hover {
    display: block
}

.ks-display-container:hover span.ks-display-hover {
    display: inline-block
}

.ks-display-hover {
    display: none
}

.ks-display-position {
    position: absolute
}

.ks-circle {
    border-radius: 50%
}

.ks-round-small {
    border-radius: 2px
}

.ks-round,
.ks-round-medium {
    border-radius: 4px
}

.ks-round-large {
    border-radius: 8px
}

.ks-round-xlarge {
    border-radius: 16px
}

.ks-round-xxlarge {
    border-radius: 32px
}

.ks-row-padding,
.ks-row-padding>.ks-half,
.ks-row-padding>.ks-third,
.ks-row-padding>.ks-twothird,
.ks-row-padding>.ks-threequarter,
.ks-row-padding>.ks-quarter,
.ks-row-padding>.ks-col {
    padding: 0 8px
}

.ks-container,
.ks-panel {
    padding: 0.01em 16px
}

.ks-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.ks-code,
.ks-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px
}

.ks-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.ks-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.ks-card,
.ks-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.ks-card-4,
.ks-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.ks-spin {
    animation: ks-spin 2s infinite linear
}

@keyframes ks-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.ks-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.ks-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.ks-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.ks-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.ks-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.ks-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.ks-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.ks-animate-input {
    transition: width 0.4s ease-in-out
}

.ks-animate-input:focus {
    width: 100%!important
}

.ks-opacity,
.ks-hover-opacity:hover {
    opacity: 0.60
}

.ks-opacity-off,
.ks-hover-opacity-off:hover {
    opacity: 1
}

.ks-opacity-max {
    opacity: 0.25
}

.ks-opacity-min {
    opacity: 0.75
}

.ks-greyscale-max,
.ks-grayscale-max,
.ks-hover-greyscale:hover,
.ks-hover-grayscale:hover {
    filter: grayscale(100%)
}

.ks-greyscale,
.ks-grayscale {
    filter: grayscale(75%)
}

.ks-greyscale-min,
.ks-grayscale-min {
    filter: grayscale(50%)
}

.ks-sepia {
    filter: sepia(75%)
}

.ks-sepia-max,
.ks-hover-sepia:hover {
    filter: sepia(100%)
}

.ks-sepia-min {
    filter: sepia(50%)
}

.ks-tiny {
    font-size: 10px!important;
}

.ks-small {
    font-size: 12px!important;
}

.ks-medium {
    font-size: 15px!important;
}

.ks-large {
    font-size: 18px!important;
}

.ks-xlarge {
    font-size: 24px!important;
}

.ks-xxlarge {
    font-size: 36px!important;
}

.ks-xxxlarge {
    font-size: 48px!important;
}

.ks-jumbo {
    font-size: 64px!important;
}

.ks-left-align {
    text-align: left!important;
}

.ks-right-align {
    text-align: right!important;
}

.ks-justify {
    text-align: justify!important;
}

.ks-center {
    text-align: center!important;
}

.ks-border-0 {
    border: 0!important;
}

.ks-border {
    border: 1px solid #ccc!important;
}

.ks-border-top {
    border-top: 1px solid #ccc!important;
}

.ks-border-bottom {
    border-bottom: 1px solid #ccc!important;
}

.ks-border-left {
    border-left: 1px solid #ccc!important;
}

.ks-border-right {
    border-right: 1px solid #ccc!important;
}

.ks-topbar {
    border-top: 6px solid #ccc!important;
}

.ks-bottombar {
    border-bottom: 6px solid #ccc!important;
}

.ks-leftbar {
    border-left: 6px solid #ccc!important;
}

.ks-rightbar {
    border-right: 6px solid #ccc!important;
}

.ks-section,
.ks-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.ks-margin {
    margin: 16px!important;
}

.ks-margin-top {
    margin-top: 16px!important;
}

.ks-margin-bottom {
    margin-bottom: 16px!important;
}

.ks-margin-left {
    margin-left: 16px!important;
}

.ks-margin-right {
    margin-right: 16px!important
}

.ks-padding-small {
    padding: 4px 8px!important
}

.ks-padding {
    padding: 8px 16px!important
}

.ks-padding-large {
    padding: 12px 24px!important
}

.ks-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.ks-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.ks-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.ks-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}

.ks-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.ks-left {
    float: left!important
}

.ks-right {
    float: right!important
}

.ks-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.ks-transparent,
.ks-hover-none:hover {
    background-color: transparent!important
}

.ks-hover-none:hover {
    box-shadow: none!important
}


.ks-amber,
.ks-hover-amber:hover {
    color: #000!important;
    background-color: #ffc107!important
}

.ks-aqua,
.ks-hover-aqua:hover {
    color: #000!important;
    background-color: #00ffff!important
}

.ks-blue,
.ks-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important
}

.ks-light-blue,
.ks-hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important
}

.ks-brown,
.ks-hover-brown:hover {
    color: #fff!important;
    background-color: #795548!important
}

.ks-cyan,
.ks-hover-cyan:hover {
    color: #000!important;
    background-color: #00bcd4!important
}

.ks-blue-grey,
.ks-hover-blue-grey:hover,
.ks-blue-gray,
.ks-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #607d8b!important
}

.ks-green,
.ks-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important
}

.ks-light-green,
.ks-hover-light-green:hover {
    color: #000!important;
    background-color: #8bc34a!important
}

.ks-indigo,
.ks-hover-indigo:hover {
    color: #fff!important;
    background-color: #3f51b5!important
}

.ks-khaki,
.ks-hover-khaki:hover {
    color: #000!important;
    background-color: #f0e68c!important
}

.ks-lime,
.ks-hover-lime:hover {
    color: #000!important;
    background-color: #cddc39!important
}

.ks-orange,
.ks-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important
}

a#specialuwu {
    right: 10px !important;
    position: absolute;
}

.ks-deep-orange,
.ks-hover-deep-orange:hover {
    color: #fff!important;
    background-color: #ff5722!important
}

.ks-pink,
.ks-hover-pink:hover {
    color: #fff!important;
    background-color: #e91e63!important
}

.ks-purple,
.ks-hover-purple:hover {
    color: #fff!important;
    background-color: #9c27b0!important
}

.ks-deep-purple,
.ks-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important
}

.ks-red,
.ks-hover-red:hover {
    color: #fff!important;
    background-color: #151515!important
}

.ks-sand,
.ks-hover-sand:hover {
    color: #000!important;
    background-color: #fdf5e6!important
}

.ks-teal,
.ks-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important
}

.ks-yellow,
.ks-hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important
}

.ks-white,
.ks-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
}

.ks-black,
.ks-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
    border-radius: 5px;
}

.ks-grey,
.ks-hover-grey:hover,
.ks-gray,
.ks-hover-gray:hover {
    color: #000!important;
    background-color: #9e9e9e!important
}

.ks-light-grey,
.ks-hover-light-grey:hover,
.ks-light-gray,
.ks-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important
}

.ks-dark-grey,
.ks-hover-dark-grey:hover,
.ks-dark-gray,
.ks-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important
}

.ks-pale-red,
.ks-hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important
}

.ks-pale-green,
.ks-hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important
}

.ks-pale-yellow,
.ks-hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important
}

.ks-pale-blue,
.ks-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important
}

.ks-text-amber,
.ks-hover-text-amber:hover {
    color: #ffc107!important
}

.ks-text-aqua,
.ks-hover-text-aqua:hover {
    color: #00ffff!important
}

.ks-text-blue,
.ks-hover-text-blue:hover {
    color: #2196F3!important
}

.ks-text-light-blue,
.ks-hover-text-light-blue:hover {
    color: #87CEEB!important
}

.ks-text-brown,
.ks-hover-text-brown:hover {
    color: #795548!important
}

.ks-text-cyan,
.ks-hover-text-cyan:hover {
    color: #00bcd4!important
}

.ks-text-blue-grey,
.ks-hover-text-blue-grey:hover,
.ks-text-blue-gray,
.ks-hover-text-blue-gray:hover {
    color: #607d8b!important
}

.ks-text-green,
.ks-hover-text-green:hover {
    color: #4CAF50!important
}

.ks-text-light-green,
.ks-hover-text-light-green:hover {
    color: #8bc34a!important
}

.ks-text-indigo,
.ks-hover-text-indigo:hover {
    color: #3f51b5!important
}

.ks-text-khaki,
.ks-hover-text-khaki:hover {
    color: #b4aa50!important
}

.ks-text-lime,
.ks-hover-text-lime:hover {
    color: #cddc39!important
}

.ks-text-orange,
.ks-hover-text-orange:hover {
    color: #ff9800!important
}

.ks-text-deep-orange,
.ks-hover-text-deep-orange:hover {
    color: #ff5722!important
}

.ks-text-pink,
.ks-hover-text-pink:hover {
    color: #e91e63!important
}

.ks-text-purple,
.ks-hover-text-purple:hover {
    color: #9c27b0!important
}

.ks-text-deep-purple,
.ks-hover-text-deep-purple:hover {
    color: #673ab7!important
}

.ks-text-red, .ks-hover-text-red:hover {
    color: #151515!important;
    font-size: 161px !important;
}

.ks-text-sand,
.ks-hover-text-sand:hover {
    color: #fdf5e6!important
}

.ks-text-teal,
.ks-hover-text-teal:hover {
    color: #009688!important
}

.ks-text-yellow,
.ks-hover-text-yellow:hover {
    color: #d2be0e!important
}

.ks-text-white,
.ks-hover-text-white:hover {
    color: #fff!important
}

.ks-text-black,
.ks-hover-text-black:hover {
    color: #000!important
}

.ks-text-grey,
.ks-hover-text-grey:hover,
.ks-text-gray,
.ks-hover-text-gray:hover {
    color: #757575!important
}

.ks-text-light-grey,
.ks-hover-text-light-grey:hover,
.ks-text-light-gray,
.ks-hover-text-light-gray:hover {
    color: #f1f1f1!important
}

.ks-text-dark-grey,
.ks-hover-text-dark-grey:hover,
.ks-text-dark-gray,
.ks-hover-text-dark-gray:hover {
    color: #3a3a3a!important
}

.ks-border-amber,
.ks-hover-border-amber:hover {
    border-color: #ffc107!important
}

.ks-border-aqua,
.ks-hover-border-aqua:hover {
    border-color: #00ffff!important
}

.ks-border-blue,
.ks-hover-border-blue:hover {
    border-color: #2196F3!important
}

.ks-border-light-blue,
.ks-hover-border-light-blue:hover {
    border-color: #87CEEB!important
}

.ks-border-brown,
.ks-hover-border-brown:hover {
    border-color: #795548!important
}

.ks-border-cyan,
.ks-hover-border-cyan:hover {
    border-color: #00bcd4!important
}

.ks-border-blue-grey,
.ks-hover-border-blue-grey:hover,
.ks-border-blue-gray,
.ks-hover-border-blue-gray:hover {
    border-color: #607d8b!important
}

.ks-border-green,
.ks-hover-border-green:hover {
    border-color: #4CAF50!important
}

.ks-border-light-green,
.ks-hover-border-light-green:hover {
    border-color: #8bc34a!important
}

.ks-border-indigo,
.ks-hover-border-indigo:hover {
    border-color: #3f51b5!important
}

.ks-border-khaki,
.ks-hover-border-khaki:hover {
    border-color: #f0e68c!important
}

.ks-border-lime,
.ks-hover-border-lime:hover {
    border-color: #cddc39!important
}

.ks-border-orange,
.ks-hover-border-orange:hover {
    border-color: #ff9800!important
}

.ks-border-deep-orange,
.ks-hover-border-deep-orange:hover {
    border-color: #ff5722!important
}

.ks-border-pink,
.ks-hover-border-pink:hover {
    border-color: #e91e63!important
}

.ks-border-purple,
.ks-hover-border-purple:hover {
    border-color: #9c27b0!important
}

.ks-border-deep-purple,
.ks-hover-border-deep-purple:hover {
    border-color: #673ab7!important
}

.ks-border-red,
.ks-hover-border-red:hover {
    border-color: #f44336!important
}

.ks-border-sand,
.ks-hover-border-sand:hover {
    border-color: #fdf5e6!important
}

.ks-border-teal,
.ks-hover-border-teal:hover {
    border-color: #009688!important
}

.ks-border-yellow,
.ks-hover-border-yellow:hover {
    border-color: #ffeb3b!important
}

.ks-border-white,
.ks-hover-border-white:hover {
    border-color: #fff!important
}

.ks-border-black,
.ks-hover-border-black:hover {
    border-color: #000!important
}

.ks-border-grey,
.ks-hover-border-grey:hover,
.ks-border-gray,
.ks-hover-border-gray:hover {
    border-color: #9e9e9e!important
}

.ks-border-light-grey,
.ks-hover-border-light-grey:hover,
.ks-border-light-gray,
.ks-hover-border-light-gray:hover {
    border-color: #f1f1f1!important
}

.ks-border-dark-grey,
.ks-hover-border-dark-grey:hover,
.ks-border-dark-gray,
.ks-hover-border-dark-gray:hover {
    border-color: #616161!important
}

.ks-border-pale-red,
.ks-hover-border-pale-red:hover {
    border-color: #ffe7e7!important
}

.ks-border-pale-green,
.ks-hover-border-pale-green:hover {
    border-color: #e7ffe7!important
}

.ks-border-pale-yellow,
.ks-hover-border-pale-yellow:hover {
    border-color: #ffffcc!important
}

.ks-border-pale-blue,
.ks-hover-border-pale-blue:hover {
    border-color: #e7ffff!important
}






.ks-bar.ks-red.ks-card.ks-left-align.ks-large {
    padding: 10px;
    box-shadow: none;
}
a.ks-bar-item.ks-button.ks-padding-large.ks-white {
    border-radius: 5px;
}
a.ks-bar-item.ks-button.ks-hide-small.ks-padding-large.ks-hover-white {
    border-radius: 5px;
}
.ks-top {
    z-index: 5;
}
.bloggo iframe {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.imageS img {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    height: 252px;
}
.imageS {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.setup img {
    width: 70%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
h1.ks-margin.ks-jumbo {
    text-align: left;
}
p.ks-xlarge {
    text-align: left;
    margin-left: 22px;
}
a.ks-button.ks-black.ks-padding-large.ks-large.ks-margin-top {
    position: absolute;
    left: 39px;
}
.gallery img {
    width: 31.9%;
    border-radius: 5px;
    margin-top: 10px;
}
.gallery2 img {
    width: 31.9%;
    border-radius: 5px;
    margin-top: 10px;
}