.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--colorbar) !important;
}   
/* Server Drop Down Menu */
.popout-3sVMXz {
  box-shadow: none;
}
.theme-dark .separator-2zcjq8 {
  border-bottom-color: transparent;
}
.theme-dark .item-1GzJrl {
  color: white;
}
.icon-2doZ3q {
  filter: brightness(5);
}
.menu-Sp6bN1 {
  z-index: 10 !important;
}
.scroller-2wx7Hm {
  z-index: 2;
}
/* Server Name */
.scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.pc-scroller.pc-firefoxFixScrollFlex.systemPad-3UxEGl.pc-systemPad.scroller-2TZvBN.pc-scroller {
    margin-top: 9px;
}
.header-2o-2hj {
  box-shadow: none;
  border-radius: 5px !important;
}
.button-1w5pas {
  opacity: 1;
}
.container-2Rl01u.da-container.hasDropdown-2invhV.da-hasDropdown {
  margin-top: 11px;
}
.bannerImage-1jOskm.da-bannerImage {
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
  width: 98%;
  height: 132px;
  background-position-y: 0px;
  margin-top: 56px;
}
header.header-2o-2hj.pc-header.withBanner-3j8ruM.pc-withBanner {
  margin-bottom: 80px;
}
header.header-2o-2hj.da-header.banner-1TiK82.da-banner {
  margin-top: 11px;
  margin-bottom: 47px;
}
header.header-2o-2hj {
    margin-top: 12px;
}
header.header-2o-2hj.pc-header.banner-1TiK82.pc-banner {
    margin-bottom: 80px;
}
header.header-2o-2hj.da-header.banner-1TiK82.da-banner {
    margin-bottom: 80px;
}
.bannerImage-1jOskm.pc-bannerImage {
    margin-top: 60px;
    border-radius: 5px;
    background-image: white !important;
}
.bannerImage-1jOskm.da-bannerImage {
    margin-top: 60px;
    border-radius: 5px;
    background-image: white !important;
}
/* Arrow Beside Category Name */
.icon-WnO6o2 {
    width: 0px;
    height: 0px;
}
/* Category Name */
.name-IbjUBS.pc-name {
    color: white;
}
/* Add Text/Voice Channel Button */
.addButtonIcon-3u-3Hu {
    opacity: 1;
    transform: scale(0.8);
}
/* Number Limit in Voice Channel */
.wrapper-pZmgj4 {
    color: var(--accenttext);
}
.users-i_3-kL {
    background-color: var(--accentcolor);
    opacity: 0.8;
}
.total-3tKGEB {
    background-color: var(--accentcolor);
}
.total-3tKGEB:after {
    border-right-color: var(--accentcolor);
}
/* Channel Names */
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg {
  color: white;
}
.wrapper-CU3qI5 {
  color: white;
}
.children-Bmpf2Q.pc-children {
  pointer-events: none;
  z-index: -1;
}
.children-Bmpf2Q.da-children {
  pointer-events: none;
  z-index: -1;
}
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
  color: white;
  font-size: 16px;
}
.name-3M0b8v {
  font-weight: 300;
}
.nameDefaultText-24KCy5.name-3M0b8v.overflowEllipsis-jeThUf.da-nameDefaultText.da-name.da-overflowEllipsis, .nameMutedText-3Vj4bM.name-3M0b8v.overflowEllipsis-jeThUf.da-nameMutedText.da-name.da-overflowEllipsis, .nameSelectedText-sp_EUw.name-3M0b8v.overflowEllipsis-jeThUf.da-nameSelectedText.da-name.da-overflowEllipsis {
  margin-left: -17px;
  transition: all 0.2s;
}
.nameHoveredText-1uO31y.name-3M0b8v.overflowEllipsis-jeThUf.da-nameHoveredText.da-name.da-overflowEllipsis {
  transition: all 0.2s;
}
.theme-dark .icon-1_QxNX, .theme-light .icon-1_QxNX, .theme-dark .wrapper-1ucjTd.modeMuted-3osy7j .icon-1_QxNX, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j .icon-1_QxNX {
    color: transparent;
}
.name-3_Dsmg.pc-name {
    padding: 7px 0px 7px 0px;
    margin-left: -25px;
    transition: 0.5s all;
    z-index: 30;
}
.name-3_Dsmg.pc-name:hover {
    margin-left: -15px;
    transition: 0.5s all;
    z-index: 30;
}
.name-3_Dsmg.da-name {
    padding: 7px 0px 7px 0px;
    margin-left: -25px;
    transition: 0.5s all;
    z-index: 30;
}
.name-3_Dsmg.da-name:hover {
    margin-left: -15px;
    transition: 0.5s all;
    z-index: 30;
}
/* Channel Selected */
.content-3at_AU.pc-content {
  border-radius: var(--channelsbr);
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 50px;
}
.actionIcon-2Hi9ZG {
  opacity: 1;
}
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU {
  background-color: rgba(0, 0, 0, 0.25);
}
.theme-dark .wrapper-1ucjTd:hover .content-3at_AU, .theme-light .wrapper-1ucjTd:hover .content-3at_AU {
  background-color: rgba(0, 0, 0, 0.10);
}
/* Channel Hover */
.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
/* Channel Unread */
.colorConnectedText-1c_uzY, .colorDefaultText-oas-QM, .colorHoveredText-OZnAgu, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb {
  color: transparent;
}
.unread-3zKkbm {
  border-radius: 5px;
  height: 8px;
  left: 212px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
}

.read-3zKkbm {
    border-radius: 50px;
    height: 8px;
    left: 211px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}


.actionIcon-2Hi9ZG {
  opacity: 1;
  visibility: hidden;
}

/* Server Drop Down */
.theme-dark .separator-2zcjq8 {
    border-bottom-color: transparent;
}

/* Channel Typing Plugin */
.children-Bmpf2Q.pc-children {
  margin-right: 20px;
}
/* Voice Info */
.container-1giJp5 {
  background: rgba(0, 0, 0, 0.25);
  border-bottom: none;
  border-radius: 10px;
}


/* Bottom Info */
.theme-dark .container-3baos1, .theme-light .container-3baos1 {
  background: transparent;
}
.container-3baos1 {
  margin-bottom: 18px;
}