//META{"name":"Dream Frame","description":"Dream Frame is a clean theme for Discord.","author":"Korbs#0001","version":"v4 Beta"}*//{}
@import url('https://raw.githack.com/dream-frame/Dream-Frame/master/v4/raw/alphaRaw.css');

:root {
    /** Background **/
    --custombackground: url(https://cdn.discordapp.com/attachments/456316408465195009/664274459871543296/luca-micheli-ruWkmt3nU58-unsplash.jpg);
    /* Adjustments */
    --blur: 0px !important; 
    --opacitybg: 0.3 !important; 
    --opacityDiscord: 0.7 !important;
    --bgscale: 1 !important; 
    --bgrotation: 0deg !important; 
    --bgrepeat: no-repeat !important; 

    /** App **/
    /* Margins */
    --appMargins: 10px !important;
    /* Round Corners */
    --appBR: 10px !important;

    /** Container Backgrounds **/
    --containerServer:  transparent !important;
    --containerChannels:  transparent !important;
    --containerChat:  transparent !important;
    --containerMembers:  transparent !important;
    --containerSettingsSidebar:  transparent !important;
    --containerSettingsRightSide:  transparent !important;
    --containerChatHeader:  transparent !important;
    --containerFriendsList:  transparent !important;

    /** Accents **/
    --accentcolor: linear-gradient(90deg, rgba(114,137,218,1) 0%, rgba(114,137,218,1) 100%) !important;
    --accenttext: white !important;
    --text-link: #7289da !important;

    /* Status Colors */
    --online: #43b581 !important;
	--idle: #faa61a !important;
	--dnd: #f04747 !important;
	--offline: #636b75 !important;
	--invisible: #747f8d !important;
	--streaming: #9146FF !important;

    /** Fonts **/
    --font: Whitney;

    /** Scrollbar **/
    --ScrollbarColor: white !important;
    --ScrollbarWidth: 14px !important;
    --ScrollbarBorderRadius: 10px !important;

    /** Element Backgrounds(pop ups, menus, tabs, etc...) **/
    /* Blur */
    --bg-blur: blur(10px) !important;
    /* Background */
    --bg-element: rgba(23,23,23,0.5) !important;
    --br: 7px !important;

    /** Covers **/
    --showCovers: 1 !important;

    /** Emojis **/
    /* In Chat */
    --EmojiSize: 2rem;
    /* Emoji Picker */
    --EmojiMenuHeight: 300px !important;
    --EmojiMenuWidth: 200px !important;

}
