.theme-dark .keybind-KpFkfr {
    color: #ffffff;
  }
  .theme-dark .closeButton-1tv5uR {
    border-color: #ffffff;
  }
  .theme-dark .divider-3wNib3 {
    border-color: transparent;
  }
  .role-3wi9Tf.pc-role.item-PXvHYJ.pc-item {
    border-radius: 50px;
  }
  .theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  .theme-dark .side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .theme-dark .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }
  /* Nitro Boot */
  .theme-dark .tierLock-1oFMOZ {
    color: white;
  }
  
  .theme-dark .tierInProgress-3mBoXq {
    background-color: #ffffff;
  }
  .theme-dark .tierHeaderLocked-1a2opw {
    background: linear-gradient(90deg, rgba(169,125,234,1) 27%, rgba(205,145,181,1) 100%);
    color: white;
  }
  .theme-dark .tierBody-x9kBBp {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
  }
  .theme-dark .background-3xPPFc {
    color: #ffffff;
  }
        /* POP UP */
        .theme-dark .tierHeaderLocked-1s2JJz {
          background: linear-gradient(90deg, rgba(169,125,234,1) 27%, rgba(205,145,181,1) 100%);
          color: white;
      }
      .theme-dark .tierBody-16Chc9 {
        background-color: rgba(0, 0, 0, 0.25);
        color: white;
    }
    .theme-dark .barBackground-2EEiLw, .theme-dark .tierMarkerInProgress-24LMzJ {
      background-color: #ffffff;
  }
  .theme-dark .currentTierIcon-2gcTCn {
    color: #000;
  }
  .theme-dark .tierLock-3CSxSX {
    color: #ffffff;
  }
  .tierMarkerInProgress-24LMzJ.tierMarker-5HkGJ_ {
    background: white !important;
}
d
  
  /* Are you sure you want to save? */
  .container-2VW0UT.elevationHigh-1PneE4.pc-container.pc-elevationHigh {
    border-radius: 50px;
  }
  .container-2VW0UT.elevationHigh-1PneE4.da-container.da-elevationHigh {
    border-radius: 50px;
  }
  /* Overview */
  input.inputDefault-_djjkz.input-cIJ7To.size16-14cGz5.da-inputDefault.da-input.da-size16 {
    border-radius: 5px;
  }
  input.inputDefault-_djjkz.input-cIJ7To.size16-14cGz5.pc-inputDefault.pc-input.pc-size16 {
    border-radius: 5px;
  }
  /* Moderation */
  .theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:disabled {
    background-color: rgba(0,0,0,0.25);
    border-color: transparent;
  }
  .theme-dark .auditLog-3jNbM6 {
    border-color: transparent;
    color: white;
  }
  .theme-dark .divider-1pnAR2 {
    background-color: transparent;
  }
  .divider-1pnAR2 {
    height: 0px;
  }
  .description-3_Ncsb.formText-3fs7AJ.da-description.da-formText.marginTop8-1DLZ1n.da-marginTop8.modeDefault-3a2Ph1.da-modeDefault.primary-jw0I4K {
    text-align: left;
  }
  .description-3_Ncsb.formText-3fs7AJ.da-description.da-formText.marginBottom20-32qID7.da-marginBottom20.modeDefault-3a2Ph1.da-modeDefault.primary-jw0I4K {
    text-align: left;
  }
  .description-3_Ncsb.formText-3fs7AJ.da-description.da-formText.marginBottom8-AtZOdT.da-marginBottom8.modeDefault-3a2Ph1.da-modeDefault.primary-jw0I4K {
    text-align: left;
  }
  
  /* Roles */
  .theme-dark .input-cIJ7To.disabled-2BKQFm {
    border-color: transparent;
  }
  .description-3_Ncsb.formText-3fs7AJ.da-description.da-formText.note-1V3kyJ.da-note.modeDefault-3a2Ph1.da-modeDefault.primary-jw0I4K {
    text-align: left;
  }
  /* Emojis */
  .theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: rgba(0, 0, 0, 0.25);
  }
  .theme-dark .emojiRow-zIc7ZX {
    box-shadow: none;
  }
  button.button-mM-y8i.da-button.emojiRemove-1k6MlJ.da-emojiRemove {
    margin-top: 32px;
    margin-right: 30px;
  }
  button.button-mM-y8i.pc-button.emojiRemove-1k6MlJ.pc-emojiRemove {
    margin-top: 32px;
    margin-right: 30px;
  }
  /* Widget */
  .theme-dark .copyInputDefault-21sXtF {
    border-color: transparent;
  }
  .css-15ejc46-control {
    border: none;
  }
  /* Members */
  .theme-dark .member-1q7VfX {
    box-shadow: none;
  }
  .default-3nhoK-.formText-3fs7AJ.da-default.da-formText.tag-1YGWN9.da-tag.modeDefault-3a2Ph1.da-modeDefault.primary-jw0I4K {
    text-align: left;
  }
  .theme-dark .searchBar-1MOL6S {
    background-color: transparent;
  }
  
  
  .theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteShadow-iiGWFU {
    box-shadow: none;
  }
  .theme-dark .row-rrHHJU.selected-1pIgLL {
    background: #202225;
    border-radius: 5px;
    margin-left: 10px;
    transition: all 1s;
  }
  
  
  
  
  
  
  
  /* Invites */
  .theme-dark .inviteSettingsInviteRow-3p2O-N {
    box-shadow: none;
  }
  /* Ban */
  .theme-dark .bannedUser-1IalTM {
    box-shadow: none;
  }
  
  /* borders and seperators */
  .theme-dark .divider-3573oO {
    background-color: transparent;
}

/* Server Boost Status */
.item-PXvHYJ.pc-item {
  border-radius: var(--buttonsbr);
}
.item-PXvHYJ.pc-item {
  border-radius: var(--buttonsbr) !important;
}
.tierBody-x9kBBp.pc-tierBody {
  border-radius: 0px 0px 5px 5px;
}
