/*//META{"name":"Dream Frame","description":"Dream Frame is a clean theme for Discord. It allows customization like accent colors, custom fonts, color change, and more to come in the future. Support Server for Dream Frame: https://discord.gg/Sr4RzS8.","author":"Korbs#0001","version":"AutoUpdate"}*//*/
/* Please keep !important by each option, this helps override the fallback system */
@import url("https://korbsstudio.com/DreamFrame/raw/raw.css");
:root {
    /* Background */
    --custombackground: url(https://source.unsplash.com/random); /* Change the background */
    --blur: 0px !important; /* Adjust the amount of blur on the background */
    --opacitybg: 0.5 !important; /* Change the transparency of the background. This is what controls the black overlay that is over the background */
    --opacityDiscord: 0.7 !important; /* Try removing your custom background and enable Transparency in BandagedBD settings. Also adjust opacitybg to 0 */
    --bgscale: 1; /* 0.3 to 3 */
    --bgrotation: 0deg; /* This option works out for some backgrounds, just in case. */
    --bgrepeat: no-repeat; /* To make the background not repeat, use "no-repeat". To make background repeat, use "repeat", changing bgscale might need to be adjusted */
    --NSFWbg: 10px; /* 0 to show NSFW backgrounds, 10 to blur out NSFW backgrounds. This option is for backgrounds on profile modal. Dream Frame allows users to select NSFW backgrounds, so be careful who you look at ;) */

    /* Border Radius */
    --channelsbr: 20px !important;
    --memberslistbr: 5px !important;
    --servericonbr: 25px !important;
    --avatarbr: 50px !important;
    --buttonsbr: 5px !important;
    --appbr: 5px !important; /* If you use the transparency feature in BandagedBD and adjusted "opacityDiscord" under 0.9 and have your custom backgroud removed */

    /* Accent Colors */
    --accentcolor: #738bd7 !important;   /* To reset the color back to default, use #738bd7 */
    --accenttext: white !important; /* Use this to change the text colors that are on top of the accentcolor, this is to help make text readable if you're using a bright accent color */
    
    /* Fonts */
    --fontchat: Whitney !important; /* Default font is Whitney */
    --fontcategoryname: Whitney !important;
    --fontrolename: Whitney !important;
    --fontchannelname: Whitney !important;
    --fonttooltip: Whitney !important;
    --fontusername: Whitney !important;
    
    /* Font Sizes */
    --fontchatsize: 15px !important; /* Default: 15px */
    --fontcategorynamesize: 12px !important; /* Default: 12px */
    --fontrolenamesize: 12px !important; /* Default: 12px */
    --fontchannelnamesize: 16px !important; /* Default: 16px */
    --fonttooltipsize: 14px !important; /* Default: 14px */
    --fontusernamesize: 15px !important; /* Default: 15px */
    
    /* Scrollbars */
    
    --colorbar: white !important; /* Change the color of the scrollbar */
    --widthbar: 14px !important; /* Change the width of the scrollbar */
    
    /* Status Colors */
    --online: rgb(71, 191, 71)  !important;
    --idle: yellow  !important;
    --dnd:  red !important;
    --offline: grey  !important;
    --streaming: purple  !important;
    
    /* Server Colors */
    --serverselected: red !important;
    --serverunread: white !important;
    
    /* Home Icon */
    --homeicon: url(https://cdn.discordapp.com/attachments/463532696820383754/489649105006493697/TheDWinkyFace.png);
    --homeiconsize: 45px;

    /* Avatar Sizes in Chat */
    --avatar: 40px !important;
    
    /* Emojis */
    --emojisize: 30px  !important;
    --emojimenuheight: 374px !important;
    
    /* Windows Titlebar Customization */
    --closeButton: url(); /* Change icon to close button on Windows */
    --maxButton: url(); /* Change icon to max button on Windows */
    --minButton: url(); /* Change icon to min button on Windows */
    --sizeOfButtons: 16px;  /* Change icon size to the titlebar buttons on Windows */
    
    --defaulttb: 1 !important; /* change to 0 to hide default icons */
    
    /* macOS Titlebar - Colors*/
    --macOSClose: red !important;/* Change icon to close button on macOS */
    --macOSMin: yellow !important;/* Change icon to min button on macOS */
    --macOSMax: green !important;/* Change icon to max button on macOS */
}
