/* Cards */
.theme-dark .outer-2IVh5n {
    background-color: rgba(0, 0, 0, 0.50);
}
.theme-dark .wrapper-9ppXpy {
    box-shadow: none;
}
/* Now Playing */
.theme-dark .popoutContainer-3WC9HR:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.theme-dark .separator-2c4hi3 {
    background-color: transparent;
    height: 0px;
    margin-bottom: -1px;
}
.theme-dark .separator-2c4hi3 {
    background-color: var(--accentcolor) !important;
}
.theme-dark .inset-GQDQYw {
    background-color: var(--accentcolor) !important;
}
.theme-dark .recentlyPlayedContainer-2F3MqS {
    background-color: rgba(0, 0, 0, 0.25);
    border: 0px solid transparent;
}
.image-33JSyf.pc-image.large-3ChYtB.pc-large.partyMember-2q4Jxq.pc-partyMember {
    width: 25px;
    height: 25px;
}
.image-33JSyf.pc-image.large-3ChYtB.pc-large.avatar-_-TGPX.pc-avatar {
    width: 25px;
    height: 25px;
}