/* Comment */
.channelTextArea-1LDbYG.pc-channelTextArea.channelTextAreaUpload-3t7EIx.pc-channelTextAreaUpload.marginTop8-1DLZ1n.pc-marginTop8 {
    WIDTH: 73%;
    margin-left: 125px;
  }
  .channelTextArea-1LDbYG.da-channelTextArea.channelTextAreaUpload-3t7EIx.da-channelTextAreaUpload.marginTop8-1DLZ1n.da-marginTop8 {
    WIDTH: 73%;
    margin-left: 125px;
  }
  /* Make Spoiler */
  .box-mmYMsp {
    border-radius: 50px;
  }
  /* Backgrounds and Borders */
  .uploadModal-2ifh8j {
   background-color: transparent;
  }
  .uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px dashed rgba(170, 184, 232, 0);
  }
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: 2px dashed hsla(0, 0%, 100%, 0);
  }
  /* Upload is too big */
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .icons-1w691d {
    height: 20px;
  }
  /* Video File */
  .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.video-27RLEH {
    background-image: url(/assets/dae57381bd2599b546fc014a41708c06.svg);
    background-color: var(--accentcolor);
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
  }
  .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.webcode-22GGLX {
    background-color: var(--accentcolor);
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
  }
  /* File */
  .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.unknown-3TPTMr {
    background-image: url(/assets/92fc72e47a5854ae12c1167e69573d77.svg);
    background-color: #5b6dae;
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
  }
  
  /* Document */
  .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.document-2cvI0u {
    background-image: url(/assets/a4ef7d20760cef4c165825770fd12ac7.svg);
    background-color: var(--accentcolor);
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
  }
  /* ZIP */
  .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.archive-2hqXug {
    background-image: url(/assets/3408a4597fdee6f7edef69f7fb487b38.svg);
    background-color: var(--accentcolor);
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
  }
  /* Size of Modal */
  .uploadModal-2ifh8j {
    min-height: 428px;
    width: 720px;
  }
  /* Image */
  .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: var(--accentcolor);
    border: 2px solid var(--accentcolor);
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    height: 392px;
    margin-left: -12px;
    width: 720px;
    background-size: contain;
  }
  /* Comment Box */
  .uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf {
    margin: 0 18px;
    margin-top: 243px;
    margin-bottom: -107px;
    margin-right: 160px;
  }
  .label-3aiqT2.pc-label {
    color: transparent;
}
  .uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 .optional--ezibr {
    opacity: 0;
  }
  /*  Buttons */
  .uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    border-radius: 50px;
  }
  .uploadModal-2ifh8j .footer-3mqk7D {
    background-color: var(--accentcolor);
  }