//META{"name":"Dream Frame Fallback","description":"Contains fallback options.","author":"Korbs#0001","version":"4"}*//{}

/* Fallback system for Dream Frame */

/* BG */
.appMount-3lHmkl::before {
    content: "";
    background-color: #252525;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
/* Home Icon */
.theme-dark .homeIcon-1FoKUJ {
    color: transparent;
    background-image: url(https://cdn.discordapp.com/attachments/463532696820383754/489649105006493697/TheDWinkyFace.png);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
}
/* Server icons */
.guild-1EfMGQ .guildIcon-CT-ZDq {
    border-radius: 50px;
}
.iconInactive-98JN5i {
    border-radius: 50px;
}
/* Emoji */
.emoji.jumboable {
    height: 30px;
    width: 30px;
}
/* Avatar */
.image-33JSyf, .wrapper-2F3Zv8 {
    border-radius: 50px;
}
.image-33JSyf.large-3ChYtB {
    height: 40px;
    width: 40px;
}
.image-33JSyf.da-image.small-5Os1Bb.da-small.mask-3OgeRz.da-mask {
    border-radius: 50px;
}
/* Profile Modal */
.headerSpotify-zpWxgT, .theme-dark .headerNormal-T_seeN, .topSectionSpotify-1lI0-P {
    background: #738bd7;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    color: white;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #738bd7;
    color: white;
}
/* Border Radius */
.member-3W1lQa {
    border-radius: 3px;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-radius: 5px;
}
button.primaryButton-2BsGPp.da-primaryButton.gutter-15v0rO.da-gutter.button-38aScr.da-button.lookFilled-1Gx00P.colorBrand-3pXr91.sizeXlarge-2yFAlZ.grow-q77ONN.da-grow {
    border-radius: 5px;
}
button.secondaryButton-BIo-2g.da-secondaryButton.button-38aScr.da-button.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeXlarge-2yFAlZ.grow-q77ONN.da-grow {
  border-radius: 5px;
}
.theme-dark .cardPrimaryEditable-3KtE4g {
    border-radius: 5px;
}
button.button-38aScr.da-button.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN.da-grow {
  border-radius: 5px;
}
button.button-38aScr.da-button.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeSmall-2cSMqn.grow-q77ONN.da-grow {
  border-radius: 5px;
}
button.subscribeButton-2h8nOh.da-subscribeButton.button-38aScr.da-button.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeLarge-1vSeWK.grow-q77ONN.da-grow {
  border-radius: 5px;
}
button.button-38aScr.da-button.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN.da-grow {
    border-radius: 5px;
}
