/* Custom Background */
.appMount-3lHmkl::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: var(--custombackground);
    transform: scale(var(--bgscale)) rotate(var(--bgrotation));
    background-size: cover;
    background-repeat: var(--bgrepeat);
    opacity: var(--opacitybg);
    filter: blur(var(--blur));
    animation: 10s BBU ease-in-out;
}
.appMount-3lHmkl {
    background-color: rgb(0, 0, 0, var(--opacityDiscord));
}
/* - Turning Discord's background transparent */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: transparent;
}
.container-2lgZY8 {
    background-color: transparent;
}
.theme-dark .wrapper-1Rf91z, .theme-light .wrapper-1Rf91z {
    background-color: transparent;
}
.channels-Ie2l6A {
    background-color: transparent;
}
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background-color: transparent;
}
.theme-dark .container-1r6BKw {
    background: transparent;
}
.theme-dark .messagesWrapper-3lZDfY {
    background-color: transparent;
}
.container-PNkimc {
    background-color: transparent;
}
.theme-dark .members-1998pB {
    background-color: transparent;
}
.theme-dark .sidebarRegion-VFTUkN {
    background: transparent;
}
.theme-dark .contentRegion-3nDuYy {
    background: transparent;
}
.theme-dark .standardSidebarView-3F1I7i {
    background: transparent;
}
.theme-dark .activityFeed-1C0EmJ {
    background-color: transparent;
}
.theme-dark .gameLibrary-TTDw4Y {
    background-color: transparent;
}
.theme-dark .header-39GIC8 {
    background-color: transparent;
}
.theme-dark .applicationStore-1pNvnv {
    background-color: transparent;
}
.theme-dark .container-3gCOGc {
    background-color: transparent;
}
.theme-dark .pageWrapper-1PgVDX {
    background-color: transparent;
}
.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
    background: transparent;
}
