.avatar-_VZUJy { position: relative; }
.large-3ChYtB:not(.wrapper-2F3Zv8)::before {
	color: rgba(255, 255, 255, 0.3);
	font-size: 13px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 2px;
	cursor: pointer;
	font-family: BMTicons;
	pointer-events: none;
	display: inline-block !important;
	z-index: 1;
}

  .large-3ChYtB:not(.wrapper-2F3Zv8)[style*="192760945766957066"]:hover::before {
    white-space: nowrap;
    width: auto;
    padding: 2px 7px;
    background-image: none;
    font-size: 15px;
    background-color: #000;
    font-family: Whitney;
    z-index: 3000000;
    content: '^ God';
    color: white;
  }

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="192760945766957066"]::after {
	content: '';
	position: absolute;
	height: calc(100% + 4px);
	width: calc(100% + 4px);
	top: -2px;
	left: -2px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	border-radius: var(--roundness);
	z-index: -1;
}

/* color wheel */

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="192760945766957066"]::after {
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a338ef9-a14e-4c93-989b-b510d7b9bad7/d6fjql6-3445cbc6-aa45-4040-9c90-9359b157120b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhhMzM4ZWY5LWExNGUtNGM5My05ODliLWI1MTBkN2I5YmFkN1wvZDZmanFsNi0zNDQ1Y2JjNi1hYTQ1LTQwNDAtOWM5MC05MzU5YjE1NzEyMGIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TCwKHkkegGY4Q8KP5YwrOgg6DfV1iQ1K5w6yMwsCn9E);
	transform: scale(1.03);
}


/* triforce badge */

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="192760945766957066"]::before {
	content: '';
	color: transparent;
	height: 15px;
	width: 15px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	bottom: -8px;
	right: -8px;
	pointer-events: none;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="192760945766957066"]::before {
	background-image: url(https://thumbs.gfycat.com/HastyCriminalCrab-size_restricted.gif);
	transition: filter .2s ease-in-out;
	transform: scale(1);
}


.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="192760945766957066"]+.statusProfile-3ynqtt {
	background-image: url(http://getwallpapers.com/wallpaper/full/e/8/7/663102.jpg);
	background-position: 0 0;
	filter: brightness(.8)
}


/* relative badge */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="346676896794279937"]::after {
	background-image: url(https://loading.io/spinners/recycle/lg.recycle-spinner.gif);
	transform: scale(1.47);
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="346676896794279937"]::after {
	content: '';
	position: absolute;
	height: calc(100% + 4px);
	width: calc(100% + 4px);
	top: -2px;
	left: -2px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	border-radius: var(--roundness);
	z-index: -1;
}

/* nice one man lol */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style]::before,.large-3ChYtB:not(.wrapper-2F3Zv8)[style]::after {
	content: "";
	position: absolute !important;
	opacity: 1!important;
	visibility: visible !important;
}

