@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url('https://dream-frame.github.io/fallback/fallback.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

/* Version of DF */
.info-1VyQPT::before {
    content: "Dream Frame v4.02";
    color: white;
    font-size: 12px !important;
}

.theme-dark {
    --background-tertiary: transparent !important;
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255, 255, 255, 0.5);
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: rgba(255, 255, 255, 0.5);
    --elevation-low: none !important;
}

/** Tags **/
:root {
    --tag-bg: var(--accentcolor);
}

.avatar-1BDn8e + h2 > span.timestamp-3ZCmNB::before {
    content: var(--tag-text);
    color: var(--accenttext) !important;
    background: var(--tag-bg);
    font-size: .8em;
    font-weight: 500;
    height: 2.28em;
    padding: .072rem .275rem;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: baseline;
    margin-right: .50rem;
    margin-left: -.25rem;
}

/* Dream Frame Team */
.avatar-1BDn8e[src*="597905003717459968"] + h2 > span.timestamp-3ZCmNB::before { /* creatable#0123 */
    --tag-text: 'look at my discrim peasant';
    --tag-bg: transparent url(https://media2.giphy.com/media/1dJWnCZBCE7gcFwLvk/source.gif) center;
}

.avatar-1BDn8e[src*="707043684889133117"] + h2 > span.timestamp-3ZCmNB::before { /* Korbs */
    --tag-text: 'Dream Frame Developer';
}

/* Donators */
.avatar-1BDn8e[src*="126053182748098567"] + h2 > span.timestamp-3ZCmNB::before { /* ! Siage */
    --tag-text: 'Donator';
}

.avatar-1BDn8e[src*="224193802187833344"] + h2 > span.timestamp-3ZCmNB::before { /* Winter */
    --tag-text: 'Donator';
}

.avatar-1BDn8e[src*="383345807228928010"] + h2 > span.timestamp-3ZCmNB::before { /* Bryce */
    --tag-text: 'Donator';
}

.avatar-1BDn8e[src*="102541888376020992"] + h2 > span.timestamp-3ZCmNB::before { /* Plox */
    --tag-text: 'Donator';
}

.avatar-1BDn8e[src*="126053182748098567"] + h2 > span.timestamp-3ZCmNB::before { /* Plox */
    --tag-text: 'Donator';
}

.bg-h5JY_x::before {
    content: "#BlackLivesMatter";
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    color: white;
    font-weight: bold;
    background: black;
    padding: 30px 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px black;
    margin: 30px;
    pointer-events: none;
    opacity: 0;
    animation: 5s fadeOut ease;
}
