@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url('https://dream-frame.github.io/fallback/fallback.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
:root {
    --glasscord-win-blur: blurbehind;
    --glasscord-macos-vibrancy: fullscreen-ui;
    --glasscord-linux-blur: true;
    --glasscord-titlebar: osx;
    --usrbg-modal-x-offset:-34px;
    --usrbg-modal-y-offset:-20px;
    --usrbg-modal-width:600px;
    --usrbg-modal-height:360px;
}
/* Version of DF */
.info-1VyQPT::before {content: "Dream Frame v4.03 (in-progress)";color: white;font-size: 12px !important;}
.theme-dark {
    --background-tertiary: transparent !important;
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255, 255, 255, 0.5);
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: rgba(255, 255, 255, 0.5);
    --elevation-low: none !important;
}
.theme-light {
    --background-tertiary: transparent !important;
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255, 255, 255, 0.5);
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: rgba(255, 255, 255, 0.5);
    --elevation-low: none !important;
}
/** Tags **/
:root {--tag-bg: var(--accentcolor);}
.avatar-1BDn8e + h2 > span.timestamp-3ZCmNB::before {
    content: var(--tag-text);
    color: var(--accenttext) !important;
    background: var(--tag-bg);
    font-size: .8em;
    font-weight: 500;
    height: 2.28em;
    padding: .072rem .275rem;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: baseline;
    margin-right: .50rem;
    margin-left: -.25rem;
}
/* Dream Frame Team */
.avatar-1BDn8e[src*="597905003717459968"] + h2 > span.timestamp-3ZCmNB::before { /* creatable#0123 */
    --tag-text: 'look at my discrim peasant';
    --tag-bg: transparent url(https://media2.giphy.com/media/1dJWnCZBCE7gcFwLvk/source.gif) center;
}
.avatar-1BDn8e[src*="707043684889133117"] + h2 > span.timestamp-3ZCmNB::before { /* Korbs */
    --tag-text: 'Dream Frame Developer';
}
/* Donators */
.avatar-1BDn8e[src*="126053182748098567"] + h2 > span.timestamp-3ZCmNB::before { /* ! Siage */
    --tag-text: 'Donator';
}
.avatar-1BDn8e[src*="224193802187833344"] + h2 > span.timestamp-3ZCmNB::before { /* Winter */
    --tag-text: 'Donator';
}
.avatar-1BDn8e[src*="383345807228928010"] + h2 > span.timestamp-3ZCmNB::before { /* Bryce */
    --tag-text: 'Donator';
}
.avatar-1BDn8e[src*="102541888376020992"] + h2 > span.timestamp-3ZCmNB::before { /* Plox */
    --tag-text: 'Donator';
}
.avatar-1BDn8e[src*="126053182748098567"] + h2 > span.timestamp-3ZCmNB::before { /*  */
    --tag-text: 'Donator';
}
/* Custom Background */
div#app-mount::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: var(--custombackground);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.4);
}
.styleFlexible-wGDiIL::before, .submenu-2-ysNh::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: var(--custombackground);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.3);
    border-radius: var(--br);
    margin: 0px 4px;
}
/* Custom Profile Covers */
.header-QKLPzZ .wrapper-3t9DeA::after {
  content:'';
  position:absolute;
  top:var(--usrbg-modal-x-offset);
  left:var(--usrbg-modal-y-offset);
  width:var(--usrbg-modal-width);
  height: var(--usrbg-modal-height);
  opacity:.5;
  pointer-events:none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}
.headerInfo-30uryT, .tabBarItem-1b8RUP, .activity-1ythUs {z-index:1;position:relative;}
.reduce-motion .userPopout-3XzG_A {transform:translateZ(0);}
.userPopout-3XzG_A .wrapper-3t9DeA::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--user-popout-position) center;
    background-image: var(--user-background);
    -webkit-mask-image: linear-gradient(#000, transparent);
    border-radius: var(--br);
}
.userPopout-3XzG_A  .header-2BwW8b, .userPopout-3XzG_A  .scroller-2FKFPG, .userPopout-3XzG_A  .footer-1fjuF6 {z-index: 1;}
/**/
*, .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-track-piece {border: none !important; box-shadow: none !important;}
.styleFlexible-wGDiIL, div#app-mount, .theme-light .headerNormal-T_seeN, .body-3iLsc4.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2, .body-3ND3kc, .perksModal-fSYqOq.auto-Ge5KZx.scrollerBase-289Jih, .standardSidebarView-3F1I7i, .sidebarRegionScroller-3MXcoP, .layer-3QrUeG, .contentRegion-3nDuYy, .scroller-2FKFPG.contentRegionScroller-26nc1e, .wrapper-1-Fsb8.header-ywPcAE, .inspector-sdLnLS, .message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover, .wrapper-2aW0bm, .button-1ZiXG9:hover,  .divider-Uf0Wob, .app-2rEoOp, .channelTextArea-rNsIhG, .sidebar-2K8pFh, .chat-3bRxxu, section.title-3qD0b-.container-1r6BKw.themed-ANHk51, .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-track-piece, .scroller-2FKFPG.messages-3amgkR.scroller-3sQKXg, .scroller-2FKFPG.members-1998pB, nav.container-PNkimc, section.panels-j1Uci_, nav.privateChannels-1nO12o, .scroller-2FKFPG.scroller-1JbKMe, section.container-1r6BKw.themed-ANHk51, .container-1D34oG, .nowPlayingColumn-2sl4cE, .theme-dark .container-1D34oG, .scrollableContainer-2NUZem.webkit-HjD9Er, .channelTextArea-rNsIhG.channelTextArea-2VhZ6z.focused-PMHa7m, .clickable-2ap7je .header-2o-2hj:hover, .selected-WP3kCM .header-2o-2hj {
    background: transparent !important;
}
.separator-gCa7yv, #private-channels [href="/store"], .toolbar-1t6TWx a, .webkit-HjD9Er .buttons-3JBrkn .buttonContainer-28fw2U:nth-child(2), .buttons-3JBrkn > .button-38aScr, .emptyChannelIcon-3IXV5M, .divider-1pnAR2, .children-19S4PO:after, .form-2fGMdU:before, .divider-3FBTu8, .guildSeparator-3s64Iy, .form-2fGMdU:before, .children-19S4PO:after, .theme-dark .card-FDVird:before, .separator-2I32lJ, .footer-1fjuF6, .bodyTitle-Y0qMQz.marginBottom8-AtZOdT.size12-3R0845, .note-3kmerW.note-3HfJZ5  {
    display: none;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-thumb {background-color: white;}
svg.icon-22AiRD, .wordmarkWindows-1v0lYD, .theme-dark .text-GwUZgS, .theme-dark .title-2BxgL2, svg.icon-1_QxNX {
    color: white !important;
}
.scroller-2FKFPG::-webkit-scrollbar {width: 8px;}
.rolesList-22qj2L {margin: 0px !important;}
.content-3at_AU, button, .emojiPicker-3PwZFl, .theme-dark .autocomplete-1vrmpx, .card-1yV8cG.completed-utEvtk, .wrapper-35wsBm, input, .newMessagesBar-mujexs.barBase-39XTcM, .userInfoViewing-16kqK3.cardPrimary-1Hv-to.card-3Qj_Yx, .jumpToPresentBar-9P20AM.barBase-39XTcM, .embedWrapper-lXpS3L.embedFull-2tM8--.embed-IeVjo6.markup-2BOw-j, .styleFlexible-wGDiIL, .contentWrapper-SvZHNd, .theme-dark .tooltipBlack-PPG47z, .theme-light .tooltipBlack-PPG47z, .item-1tOPte, .layout-2DM8Md, .embed-IeVjo6, .embedImage-2W1cML img, .embedImage-2W1cML video, .embedThumbnail-2Y84-K img, .embedThumbnail-2Y84-K video, .embedVideo-3nf0O9 img, .embedVideo-3nf0O9 video, code.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9.hljs.bash, .styleFixed-sX-yHV {
    border-radius: var(--br) !important;
}
.icon-3Gkjwa {width: 15px;height: 15px;}
.powercord-snippet-apply:not(.applied) div:hover, .folder-21wGz3, .folderIconWrapper-226oVY svg, .theme-dark .tooltipBlack-PPG47z, .theme-light .tooltipBlack-PPG47z, .unread-3zKkbm, .newMessagesBar-mujexs.barBase-39XTcM {
    background: var(--accentcolor);
    color: var(--accenttext);
}
.contentWrapper-SvZHNd, .userPopout-3XzG_A, .styleFlexible-wGDiIL, span.expandedFolderBackground-2sPsd-, .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.root-SR8cQa, .emojiPicker-3PwZFl, .theme-dark .autocomplete-1vrmpx, .card-1yV8cG.completed-utEvtk, .wrapper-35wsBm, .embedWrapper-lXpS3L.embedFull-2tM8--.embed-IeVjo6.markup-2BOw-j, .userInfoViewing-16kqK3.cardPrimary-1Hv-to.card-3Qj_Yx {
    background: var(--bg-element);
}
.contentWrapper-SvZHNd, .userPopout-3XzG_A, .emojiPicker-3PwZFl, .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.root-SR8cQa, .theme-dark .autocomplete-1vrmpx, .card-1yV8cG.completed-utEvtk, .wrapper-35wsBm, .embedWrapper-lXpS3L.embedFull-2tM8--.embed-IeVjo6.markup-2BOw-j, .userInfoViewing-16kqK3.cardPrimary-1Hv-to.card-3Qj_Yx {
    backdrop-filter: var(--bg-blur);
}
.avatarWrapperNormal-3wFMbf:hover .avatarHint-1qgaV3 {color: transparent !important;}
.rolesList-22qj2L {overflow-y: auto;overflow-x: hidden;max-height: 175px;}
.rolesList-22qj2L::-webkit-scrollbar {width: 5px;height: 14px;}
.rolesList-22qj2L::-webkit-scrollbar-thumb {background-clip: padding-box;border-width: 3px;border-style: solid;border-radius: 7px;border-color: #202225;}
.rolesList-22qj2L::-webkit-scrollbar-track-piece {background-color: #2f3136;border: 3px solid #36393f;border-radius: 7px;}
.unread-3zKkbm {opacity: 0.4;width: 224px;height: 30px;margin-top: -15px;margin-left: 8px;border-radius: var(--br);}
.wrapper-2aW0bm {margin-top: 34px;}
.markup-2BOw-j.messageContent-2qWWxC {padding: 0px 30px 0px 72px;}
.jumpToPresentBar-9P20AM.barBase-39XTcM {padding: 0px; margin-bottom: 10px;}
