@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);
@import url(https://rawcdn.githack.com/dream-frame/fallback/a2775a90573c9649fa9f7a0cd791b3ed5db10dbc/fallback.css);
@import url(https://bdsources.github.io/sourcecheck/code.css);
@import url(https://monstrousdev.github.io/themes/addons/user-tags.css);

/* Dream Frame Beta */

.info-1VyQPT::before {
    content: "Dream Frame 3.4";
    color: white;
    font-size: 12px;
}
.appMount-3lHmkl::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-image: var(--custombackground);
    background-size: cover;
    filter: brightness(var(--opacitybg)) blur(var(--blur));
    transform: scale(var(--bgscale)) rotate(var(--bgrotation));
    animation: 5s bg ease-out;
}

@keyframes bg {
    0% {
        filter: brightness(0);
        transform: rotate(var(--bgrotation)) scale(1.3);
    }
    100% {
        filter: brightness(var(--opacitybg));
        transform: rotate(var(--bgrotation)) scale(var(--bgscale));        
    }
}

div#app-mount::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: rgba(0, 0, 0, var(--opacityDiscord));
    z-index: -1;
    border-radius: var(--br);
}
.backdropWithLayer-3_uhz4 {
    background: transparent !important;
    backdrop-filter: brightness(0.5);
}

/* Scrollbar */
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--ScrollbarColor);
}

/* Custom Profile Backgrounds */
.header-QKLPzZ .avatar-3EQepX::before{
    background-image:var(--user-background) !important;
    background-size:cover !important;
    background-position:center !important;
    background: unset;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: var(--showCovers);
}
/** Discord's Variables **/
.theme-dark {
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255,255,255,0.5);
    --text-link: #00b0f4;
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: rgba(255,255,255,0.5);
    --background-primary: transparent;
    --background-secondary: rgba(0,0,0,0.7);
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: white;
    --background-floating: #18191c;
    --background-mobile-primary: transparent;
    --background-mobile-secondary: transparent;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: transparent;
    --background-mentioned: var(--accentcolor);
    --background-mentioned-hover: var(--accentcolor);
    --background-message-hover: var(--accentcolor);
    --elevation-stroke: none;
    --elevation-low: none;
    --elevation-medium: none;
    --elevation-high: none;
    --logo-primary: white;
    --guild-header-text-shadow: aliceblue;
    --channeltextarea-background: transparent;
    --activity-card-background: aliceblue;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: transparent;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: aliceblue;
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
.theme-light {
    --text-normal: black;
    --text-muted: black;
    --text-link: var(--accentcolor);
    --channels-default: black;
    --interactive-muted: rgba(0, 0, 0, 0.50);
}

div#app-mount {
    font-family: var(--font) !important;
}
/** Titlebar **/
.withFrame-haYltI::before {
    content: "";
    position: fixed;
    right: 0px;
    top: 0px;
    background: transparent;
    height: 20px;
    width: calc(100% - 312px);
    -webkit-app-region: drag;
}
/* Wordmark */
.wordmarkWindows-1v0lYD.wordmark-2iDDfm {
    display: none;
}
/* Height and Adjustments */
.withFrame-haYltI {
    height: 0px;
    margin-top: 0px;
}
/* Toggle buttons */
.winButton-iRh8-Z {
    color: white;
    margin-top: 5px;
}
/** Tooltip **/
/* Background */
.theme-dark .tooltipBlack-PPG47z, .theme-light .tooltipBlack-PPG47z {
    background-color: var(--accentcolor);
    border-radius: var(--br);
}
.tooltipPointer-3ZfirK {
    display: none;
}
/** Server List **/
/* Folders */
.expandedFolderBackground-2sPsd- {
    background-color: transparent;
}
.folder-21wGz3 {
    cursor: default;
    background-color: var(--accentcolor);
}
.folder-21wGz3.hover-2ji_A7 {
    cursor: default;
    background-color: var(--accentcolor);    
}
svg[name="Folder"] {
    color: var(--accenttext) !important;
}
/* Home Icon */
.homeIcon-tEMBK1[name="Nova_Discord"] { /* Does not work for web version of Discord */
    background-image: var(--HomeIcon);
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--HomeIconSize);
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent !important;
    filter: brightness(2);
}
/* Seperater Between Home Icon and Servers */
.guildSeparator-3s64Iy {
    display: none;
}
/* Server Icons */
svg.svg-1X37T1 {
    border-radius: 50px !important;
}
/* Add and Search Icon */
.circleIconButton-jET_ig {
    color: white;
    background: var(--bg-element);
}
/* - Context Menu - */
/* Background */
.contextMenu-HLZMGh {
    border-radius: var(--br) !important;
    background-color: var(--bg-element);
    box-shadow: none;
    backdrop-filter: var(--bg-blur);
}
/* Seperators */
.itemGroup-1tL0uz:not(:first-child):not(:empty) {
    border-top-width: 0px;
}
.itemGroup-1tL0uz {
    border-top-style: solid;
    border-color: transparent;
}
/* Checkmate */
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: var(--accentcolor);
    border-color: var(--accentcolor);
    border-radius: 100%;
}
.theme-dark .checkbox-3kaeSU .checkboxInner-3yjcPe span {
    border-color: var(--accentcolor);
    border-radius: 100%;
}

/** Sidebar **/
/* Background */
.sidebar-2K8pFh {
    background: transparent;
}
.container-PNkimc {
    background-color: transparent;
}
.panels-j1Uci_ {
    background-color: transparent;
}
/* Unread Channels */
.unread-3zKkbm::before {
    content: "";
    background: var(--accentcolor);
    position: absolute;
    width: 224px;
    height: 32px;
    margin-top: -12px;
    margin-left: 8px;
    border-radius: var(--br);
    z-index: -1;
    opacity: 0.3;
}
.unread-3zKkbm {
    background: transparent;
}
/* Channels */
.content-3at_AU {
    border-radius: var(--br);
}
/* Title */
.container-2Rl01u.clickable-2ap7je {
    margin-top: 6px;
}
.clickable-2ap7je .header-2o-2hj:hover, .selected-WP3kCM .header-2o-2hj {
    background-color: transparent;
}
/* Title - Dropdown Menu */
.separator-2zcjq8 {
    display: none;
}
.iconContainer-2ZxvJk {
    position: absolute;
    left: 10px;
}
.label-1Y-LW5 {
    margin-left: 36px;
}
.checkbox-3kaeSU.checkbox-1wLOv4 {
    position: absolute;
    left: 18px;
}
.menu-Sp6bN1 {
    border-radius: var(--br);
    box-shadow: none;
    background: var(--bg-element);
    backdrop-filter: var(--bg-blur);
}
/** Chat **/
/* Typing */
@keyframes typing {
    0% {
        background: var(--accentcolor);
    }
    100% {
        background: var(--accenttext);
    }
}
svg.ellipsis-19qdx6.dots-3Bkt3k.themed-IQiCm3 {
    width: 9px;
    animation: 1s typing infinite;
}
.typing-2GQL18 {
    margin-left: 9px;
}
/* Header */
.children-19S4PO:after {
    display: none;
}
.icon-22AiRD {
    color: white;
}
.iconBadge-qZ4Ksk {
    color: var(--accentcolor);
}
.divider-3FBTu8 {
    display: none;
}
.title-3qD0b-.container-1r6BKw.themed-ANHk51 {
    height: 60px;
    background: transparent;
}
.platform-win .toolbar-1t6TWx { /* Lowered on Windows to unblock titlebar buttons */
    margin-top: 20px;
}
.content-yTz4x3:before {
    display: none;
}
/* NSFW channel */
.gatedContent-3-B7qB {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 140;
    backdrop-filter: blur(50px) brightness(1);
    animation: 1s uploadModalShake-1PBhUb ease;
}

/* Background */
.messages-3amgkR {
    background-color: transparent;
}
.chat-3bRxxu {
    background: transparent;
}
.scroller-2FKFPG.systemPad-3UxEGl.members-1998pB {
    background: transparent;
}
/* Co */
.container-3baos1 {
    margin-bottom: 20px;
}
/* Text Box */
.form-2fGMdU:before {
    display: none;
}
.channelTextArea-rNsIhG {
    background-color: transparent;
}
.scrollableContainer-2NUZem {
    background-color: transparent;
    max-height: 250px; 
}
.attachWrapper-2TRKBi {
    border: none;
}
/* Mentions */
.message-2qnXI6.mentioned-xhSam7.container-3FojY8 {
    background: transparent;
}
.mentioned-xhSam7::after {
    content: "";
    background: var(--accentcolor);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    border-radius: var(--br);
    z-index: -1;
}
.mentioned-xhSam7:before {
    display: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: var(--bg-element) !important;
    border: none;
    box-shadow: none;
    backdrop-filter: var(--bg-blur);
}
.theme-dark .messagesPopout-24nkyi {
    background-color: transparent;
}
.themedPopout-1TrfdI .header-2Kf7Yu+:after {
    display: none;
}
.themedPopout-1TrfdI .footer-1K57q_ {
    display: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    box-shadow: none;
    background-color: transparent;
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
    border-radius: var(--br);
}
/* Messages */
.message-2qnXI6.selected-2P5D_Z, .mouse-mode .message-2qnXI6:hover {
    background: transparent;
}
.emojiButton-jE9tXC.button-1ZiXG9 {
    display: none;
}
.emojiSeparator-10VgEJ.separator-42rNt0 {
    display: none;
}
.button-1ZiXG9 {
    color: white;
}
.wrapper-2aW0bm {
    background-color: transparent;
    box-shadow: none;
}
.button-1ZiXG9:hover {
    color: white;
    background-color: transparent;
}
.button-1ZiXG9.selected-LCBEAU {
    color: white;
    background-color: transparent;
}
.button-1ZiXG9 {
    min-width: 16px;
}
span.latin24CompactTimeStamp-2V7XIQ.timestampVisibleOnHover-2bQeI4.timestampCompact-29LLPQ.timestampBase-2p8O71.timestampCozyAlt-1Hs08c {
    display: none;
}

/* Welcome */
.welcomeMessage-ULm0mo {
    display: none;
}
.default-1mVZrv.base-19D3Qq {
    display: none;
}
/* Links */
a.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB {
    color: var(--accentcolor);
}
span.wrapper-3WhCwL.mention.interactive {
    color: var(--accentcolor);
}
/* Embeds */
.embedFull-2tM8-- {
    background: var(--bg-element);
    border-radius: 0px var(--br) var(--br) 0px;
}

/* Dividers */
.divider-3_HH5L.hasContent-1_DUdQ.divider-JfaTT5.hasContent-1cNJDh {
    border: none;
}
.group-spacing-16 .hasContent-1_DUdQ {
    margin-bottom: 0px;
}
.content-1o0f9g {
    padding: 8px 11px;
    color: white;
    background: var(--accentcolor);
    font-size: 13px;
    margin-top: 0px;
    border-radius: var(--br);
    width: max-content;
    position: absolute;
    left: 55px;
}
.isUnread-3Ef-o9 .content-1o0f9g {
    color: white;
    margin-left: 60px;
    margin-top: 7px;
    margin-bottom: 40px;
}

.group-spacing-16 .beforeGroup-1rH1F0 {
    top: 0px;
    margin: 10px 10px;
}
.isUnread-3Ef-o9 {
    border-color: transparent;
    margin: 7px 0px 24px 12px;
}
svg.unreadPillCap-3_K2q2 {
    display: none;
}
span.unreadPill-2HyYtt {
    padding: 14.3px 11px;
    color: white;
    background: var(--accentcolor);
    font-size: 13px;
    margin-top: 0px;
    border-radius: var(--br);
    width: max-content;
    position: absolute;
    left: 60px;
}
/* Spotify Invite */
.theme-dark .invite-18yqGF {
    background-color: var(--bg-element);
    border-color: transparent;
    border-radius: var(--br);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
    background-color: #747f8d;
    border-radius: var(--br);
}
/* Images/Icons/GIFs */
.embedGIFV-3_ebID {
    border-radius: var(--br);
}
.imageWrapper-2p5ogY img {
    position: absolute;
    border-radius: var(--br);
}
/* Notifications */
.notice-2FJMB4::before {
    content: "";
    background: var(--accentcolor);
    position: absolute;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: var(--br);
    z-index: -1;
    opacity: 0.8;
    backdrop-filter: blur(10px);
}
.notice-2FJMB4 {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    border-radius: var(--br);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25) !important;
    animation: 2s notice ease-out;
    background: transparent;
}

@keyframes notice {
    0% {
        top: -100px;
    }
    100% {
        top: 10px;
    }
}
/* GIFT modal */
.breadcrumbsWrapper-3avBWN {
    border-bottom: none;
}
.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.footer-3rDWdC {
    background: transparent;
}
.theme-dark .lookFilled-1h1y05.select-1Pkeg4 {
    border-color: transparent;
}
/* Spoiler */
.theme-dark .spoilerWarning-2aAZq1 {
    color: white;
    background-color: transparent;
}
.spoiler-1PPAUc.hiddenSpoilers-1ksnR6 {
    filter: blur(20px) brightness(0.5);
}
/* Code Blocks */
.markup-2BOw-j pre {
    border-radius: var(--br);
    border: none;
    background: transparent;
}
.powercord-codeblock-lang {
    color: white;
    border-bottom: none;
    padding: 0px 12px;
}
.markup-2BOw-j code {
    background-color: var(--bg-element);
    backdrop-filter: var(--bg-blur);
    border: none !important;
    border-radius: var(--br);
}
.hljs:not([class$=hljs]) {
    padding-top: 15px;
}
.hljs {
    padding-left: 10px;
}
/* Emojis */
.emoji.jumboable {
    width: var(--EmojiSize);
    height: var(--EmojiSize);
    min-height: 2rem;
}
.categories-1feg4n.pc-categories {
    border-radius: var(--br);
    margin: 10px;
}
.infoBar-U6oBFk.pc-infoBar {
    border-radius: var(--br);
    margin: 0px 0px 0px 10px;
    width: 94.8%;
}
.header-1nkwgG.pc-header {
    box-shadow: none;
}
.stickyHeader-1SS0JU {
    backdrop-filter: blur(2px);
}

.emojiPicker-3m1S-j .scroller-3vODG7 {
    height: var(--EmojiMenuHeight);
}

/* Commands */
.theme-dark .autocomplete-1vrmpx {
    background-color: var(--bg-element);
    border-radius: var(--br);
    backdrop-filter: var(--bg-blur);
}
.theme-dark .header-1TOWci {
    box-shadow: none;
}
.container-cMG81i {
    background-color: transparent;
}
.medium-1LLV3p .input-3Xdcic, .medium-1LLV3p .tag-2gZFdE {
    padding: 0px;
}
/* # New Messages since whenever */
.newMessagesBar-mujexs {
    border-radius: var(--br);
    background-color: var(--accentcolor);
    box-shadow: none;
    width: max-content;
}
/* Jump to Present */
.jumpToPresentBar-9P20AM.barBase-39XTcM {
    border-radius: var(--br);
    background-color: var(--background-accent);
    box-shadow: none;
    width: max-content;
    padding: 0px;
    margin-bottom: 5px;
}








/** Pop ups **/
/* Ringer */
.theme-dark .container-2oTpPc {
    background-color: transparent;
}
.root-25RxKh {
    background: transparent;
}
.paused-3oG15i { /* If your stream preview has been paused */
    background-color: var(--bg-element);
    backdrop-filter: var(--bg-blur);
}
.video-1kutKI {
    background-color: transparent;
}
.videoControls-3glNbo {
    background: none;
}
.bottomControls-UTyHwG {
    background: var(--bg-element);
    padding: 10px;
    margin-left: -10px;
    margin-bottom: -9px;
    border-radius: var(--br);
    backdrop-filter: var(--bg-blur);
}
.incomingCallInner-2VmFiR {
    border-radius: var(--br);
    position: fixed !important;
    -webkit-app-region: no-drag !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 320px;
    height: 160px;
}
.incomingCall-14zLcL.elevationHigh-3A9Xbf::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(0.3);
}
.callAvatarWrapper-3Ax_xH.voice-3bPYC-.marginTop20-3TxNs6 {
    margin-top: -70px;
}
.actionButtons-3P85gM.marginTop20-3TxNs6 {
    display: flex;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    border-radius: var(--br);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: var(--accenttext);
    background-color: var(--accentcolor);
    margin-right: 10px;
    border-radius: var(--br) !important;
}
.incomingCall-14zLcL.elevationHigh-3A9Xbf::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-image: var(--custombackground);
    background-size: cover;
    transform: scale(var(--bgscale)) rotate(var(--bgrotation));
    animation: 10s CallFlash infinite;
}


@keyframes CallFlash {
    0% {
        filter: brightness(0.5);
    }
    10%{
        filter: brightness(1.5);
    }
    20% {
        filter: brightness(0.5);
    }
    30% {
        filter: brightness(1.5);
    }
    40%{
        filter: brightness(0.5);
    }
    50% {
        filter: brightness(1.5);
    }
    60% {
        filter: brightness(0.5);
    }
    70%{
        filter: brightness(1.5);
    }
    80% {
        filter: brightness(0.5);
    }
    90% {
        filter: brightness(1.5);
    }
    100%{
        filter: brightness(0.5);
    }
}




/* Set Custom Status */
.art-347BZj {
    display: none;
}
.header-3C6qT5 {
    padding-top: 0px;
}
.header-3C6qT5 {
    margin-top: -6px;
}
.theme-dark .lookFilled-1h1y05.select-1Pkeg4 {
    border-color: transparent;
}
/* Welcome to */
.container-N7xXL1 {
    background-color: transparent;
}
.theme-dark .root-1gCeng {
    background: var(--bg-element);
    box-shadow: none;
    backdrop-filter: var(--bg-blur);
    border-radius: var(--br);
}
.divider-3573oO.divider-xBKN_4 {
    display: none;
}
button.optionButton-1cBYGI.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeLarge-1vSeWK.grow-q77ONN {
    background: var(--accentcolor);
    margin-bottom: 10px;
}
.optionButton-1cBYGI, .optionsContainer-16jEUx {
    background-color: transparent;
}
/* Create/Join Modal */ /* - - - - - - */ /* Experimental Treatment 4 */
.theme-dark .modal-yWgWj- {
    box-shadow: none;
}
.theme-dark .template-1dZv66 {
    border-color: transparent;
}
.templateEmphasized-2AIL66 {
    background: var(--accentcolor);
    color: var(--accenttext);
}
button.template-1dZv66.templateSelected-3nmENR {
    border: 2px var(--accentcolor) solid;
}
.theme-dark .footer-3rDWdC {
    background-color: transparent;
    box-shadow: none;
}
.channelListContainer-1VKoaZ {
    background: transparent;
}
.unreadIndicator-2zrk6b {
    left: 14px;
    top: 7px;
    height: 35px;
    width: 335px;
    border-radius: var(--br);
    margin-top: -4px;
    background: var(--accentcolor);
    opacity: 0.3;
    z-index: -1;
}
.channelIconContainer-3gD8Ac {
    margin: 0px 10px 2px 10px;
}
.sidebarScroller-2F8Idt {
    border: none;
}
/*********************/
/** Upload Modal **/

@keyframes uploadOpening {
    0% {
        height: 393px;
    }
    50% {
        height: 393px;
    }
    100% {
        height: 460px;
    }
}

@keyframes uploadImageOpening {
    0% {
        border-radius: var(--br) var(--br) var(--br) var(--br) !important;
    }
    50% {
        border-radius: var(--br) var(--br) var(--br) var(--br) !important;
    }
    100% {
        border-radius: var(--br) var(--br) 0px 0px !important;
    }
}

@keyframes opa5 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.theme-dark .uploadModal-2ifh8j {
    animation: 1.5s uploadOpening ease;
}

@media only screen and (max-height: 500px) {
    .uploadModal-2ifh8j {
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0px !important;
    }
    .icon-kyxXVr.image-2yrs5j {
        width: 101% !important;
        height: 500px !important;
    }
    .footer-3mqk7D.hasSpoilers-1IRtQC {
        right: 0px !important;
        width: 96% !important;
        margin-left: 0px !important;
        height: 22px !important;
        overflow: hidden !important;
    }
    .checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.box-mmYMsp {
        margin-left: 550px !important;
    }
    .filename-ovv3c5 {
        margin-top: 41px !important;
    }
    .comment-4IWttf {
        height: 440px !important;
    }
}

/* Background */
.theme-dark .uploadModal-2ifh8j {
    background-color: #2f3136;
    box-shadow: none;
}
/* Files */
.icon-kyxXVr.unknown-3TPTMr { /* File */
    position: absolute;
    top: 183px;
    left: 246px;
    transform: scale(3.5);
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.unknown-3TPTMr {
    background-image: url(https://i.imgur.com/uIqZQdp.png);
    background-size: cover;
    height: 100%;
    width: 200px;
}

.icon-kyxXVr.video-27RLEH { /* Video */
    position: absolute;
    top: 183px;
    left: 246px;
    transform: scale(3.5);
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.video-27RLEH {
    background-image: url(https://i.imgur.com/uIqZQdp.png);
    background-size: cover;
    height: 100%;
    width: 200px;
}

.icon-kyxXVr.audio-14DQXq { /* Music */
    position: absolute;
    top: 183px;
    left: 246px;
    transform: scale(3.5);
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.audio-14DQXq {
    background-image: url(https://i.imgur.com/uIqZQdp.png);
    background-size: cover;
    height: 100%;
    width: 200px;
}

.icon-kyxXVr.archive-2hqXug { /* Compressed File */
    position: absolute;
    top: 183px;
    left: 246px;
    transform: scale(3.5);
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.archive-2hqXug {
    background-image: url(https://i.imgur.com/uIqZQdp.png);
    background-size: cover;
    height: 100%;
    width: 200px;
}

.icon-kyxXVr.webcode-22GGLX { /* Web Code */
    position: absolute;
    top: 183px;
    left: 246px;
    transform: scale(3.5);
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.webcode-22GGLX {
    background-image: url(https://i.imgur.com/uIqZQdp.png);
    background-size: cover;
    height: 100%;
    width: 200px;
}

.icon-kyxXVr.document-2cvI0u { /* Document */
    position: absolute;
    top: 183px;
    left: 246px;
    transform: scale(3.5);
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.document-2cvI0u {
    background-image: url(https://i.imgur.com/uIqZQdp.png);
    background-size: cover;
    height: 100%;
    width: 200px;
}

.icon-kyxXVr.code-aoB-kL { /* Code */
    position: absolute;
    top: 183px;
    left: 246px;
    transform: scale(3.5);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.code-aoB-kL {
    background-image: url(https://i.imgur.com/uIqZQdp.png);
    background-size: cover;
    height: 100%;
    width: 200px;
}
/* Image */
.icon-kyxXVr.image-2yrs5j {
    position: absolute;
    top: 29px;
    left: -20px;
    border-radius: var(--br) var(--br) 0px 0px !important;
    width: 700px !important;
    height: 392px !important;
    animation: 1.5s uploadImageOpeningease;
}
/* Comment */
.comment-4IWttf {
    position: absolute;
    top: 0px;
    width: 100%;
    margin-left: 0px !important;
    z-index: 1783;
    background-color: #2f3136db;
    margin: 0px 0px 0px -4px !important;
    border-radius: var(--br) var(--br) 0px 0px !important;
    padding: 0px 0px 0px 0px;
    height: 404px;
    opacity: 0;
    transition: 0.3s opacity;
}
.comment-4IWttf:hover {
    opacity: 1;
    transition: 0.3s opacity;
}
.label-3aiqT2 {
    display: none;
}
/* File Information */
.description-2ug5H_ {
    bottom: margin-top;
    margin-top: 396px;
    z-index: 205;
    margin-left: 10px;
    width: 253px;
    animation: 1.5s opa5 ease;
}
/* Modal's Size */
.uploadModal-2ifh8j {
    width: 700px;
    height: 460px;
}
/* Footer */
.footer-3mqk7D.hasSpoilers-1IRtQC {
    right: 0px;
    width: 410px;
    margin-left: 250px;
    height: 22px;
    overflow: hidden;
}
.footer-3mqk7D.hasSpoilers-1IRtQC {
    z-index: -1;
}
/** Powercord Elements **/
/* Spotify Widget */
.powercord-spotify-seek-bar {
    height: 41px;
}
.powercord-spotify-seek-bar-progress {
    border-radius: var(--br);
    margin-top: -6px;
}
.powercord-spotify-seek {
    z-index: 1;
}
.avatarWrapper-2yR4wp {
    z-index: 1;
}
.powercord-spotify-songInfo.nameTag-3uD-yy {
    z-index: 1;
}
.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG {
    z-index: 1;
}
/* - Profile Modal - */
/* Background */
.userPopout-3XzG_A {
    box-shadow: none;
    background-color: var(--bg-element);
    border-radius: var(--br);
    backdrop-filter: var(--bg-blur);
}
.footer-1fjuF6 {
    display: none;
}
.headerXbox-3G-4PF {
    background: transparent;
}
.root-SR8cQa {
    background-color: transparent;
}

.topSectionNormal-2-vo2m {
    background-color: var(--accentcolor);
}
.theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz {
    background-color: transparent;
}
.activity-11LB_k {
    background-color: transparent;
}
.headerSpotify-zpWxgT {
    background: transparent;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
}
/* Bottom / Socials */
.userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-top: none;
}
.connectedAccount-36nQx7 {
    border-radius: var(--br);
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.25);
}
.body-3ND3kc {
    height: auto;
}
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4, .modal-3c3bKg {
    position: absolute;
    backdrop-filter: var(--bg-blur);
    background: var(--bg-element) !important;
}
.body-3ND3kc {
    background-color: rgb(46, 46, 46);
}
/* Headers */
.tabBarContainer-1s1u-z {
    border-top: none;
    padding-left: 20px;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
    border-bottom-color: none;
    border: 2px white solid;
    padding: 10px 30px;
    height: 10px;
    font-weight: 700;
    border-radius: var(--br);
}
.tabBarItem-1b8RUP.item-PXvHYJ.themed-OHr7kt {
    font-weight: 700;
    border: 2px rgba(255, 255, 255, 0.50) solid;
    padding: 10px 30px;
    height: 10px;
    color: white;
    border-radius: var(--br);
}
   
.theme-dark .message-2qRu38 {
    box-shadow: none;
}
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
    color: white;
}
.theme-dark .footer-1FPmkC {
    background-color: transparent;
}
.theme-dark .footer-3rDWdC {
    box-shadow: none;
}
.theme-dark .content-3CCvMx:before {
    background-color: transparent;
}
.container-1giJp5 {
    border-bottom: none;
}
.activityPanel-28dQGo {
    border-bottom: none;
}
.role-2irmRk {
    font-weight: bold;
    border: none;
    border-radius: var(--br);
    background: var(--accentcolor);
}
.autocompleteHeaderBackground-30T70q {
    border-radius: var(--br);
}
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteShadow-iiGWFU {
    box-shadow: none;
}
.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
    border-radius: var(--br);
    margin-top: 10px;
}
/** Download App **/

.downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236 {
    border: 4px solid var(--accentcolor);
    border-radius: var(--br);
    margin-left: 15px;
}
.downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236 .downloadButton-1bWXpg {
    border-radius: var(--br);
}
.downloadApps-wbBFdZ .header-nJMe-Q, .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236 p {
    color: white;
}
p.footer-1nkeBm::before {
    content: "Dream Frame supports BetterDiscord and Powercord for the Desktop version";
    color: white;
    display: flex;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translate(-105%);
    font-weight: bold;
}
.downloadApps-wbBFdZ .footer-1nkeBm {
    text-align: center;
    font-size: 0px;
    margin-top: 6px;
    color: #99aab5;
}
/** Login Box **/
form.authBoxExpanded-2jqaBe.authBox-hW6HRx.theme-dark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.authBox-hW6HRx {
    width: 800px;
    background: var(--bg-element);
    backdrop-filter: blur(20px) brightness(0.7);
    box-shadow: none;
    border-radius: var(--br);
}
.verticalSeparator-3huAjp {
    border: none;
}
.leftSplit-1qOwnR::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(https://source.unsplash.com/collection/9050502/);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/** Settings **/
.scroller-305q3I, .standardSidebarView-3F1I7i, .sidebarRegionScroller-3MXcoP, .contentRegion-3nDuYy, .contentRegionScroller-26nc1e, .layer-3QrUeG {
    background: transparent;
}
.powercord-plugin-footer {
    border: none;
}
.powercord-updater .buttons, .powercord-updater .update {
    border-bottom: none;
}
.separator-gCa7yv, .divider-3573oO.dividerDefault-3rvLe-, .divider-3573oO., .side-8zPYf6 .separator-gCa7yv {
    display: none !important;
}
.side-8zPYf6 .separator-gCa7yv {
    display: none;
}
.divider-3573oO.dividerDefault-3rvLe- {
    display: none;
}
.marginBottom20-32qID7 {
    border: none;
}
.theme-dark .paginator-166-09 {
    background: transparent;
}
.theme-dark .bottomDivider-1K9Gao {
    border-bottom-color: transparent;
}
.theme-dark .divider-3wNib3 {
    border-color: transparent;
}

.theme-dark .paginator-2CA79G {
    color: white;
}
.theme-dark .paymentPane-3bwJ6A {
    color: white;
    background-color: var(--bg-element);
    border-radius: var(--br);
}
.theme-dark .payment-xT17Mq {
    background-color: transparent;
    color: white;
}
.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: transparent;
}
.theme-dark .expandedInfo-3kfShd {
    background-color: transparent;
}
.expandedInfo-3kfShd {
    margin: 0px 21px;
    padding: 0px;
    border-radius: 5px;
}
.theme-dark .paymentHeader-3QlZQi {
    color: #fff;
    border-color: transparent;
}
.codeRedemptionRedirect-1wVR4b.card-3Qj_Yx {
    color: white;
    background-color: var(--bg-element);
    border-radius: var(--br);
    border: none;
}
button.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeSmall-2cSMqn.grow-q77ONN {
    border-radius: var(--br);
}
button.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN {
    border-radius: var(--br);
}
input.inputDefault-_djjkz.input-cIJ7To {
    border-radius: var(--br);
}
.css-15ejc46-control {
    border: none;
    border-radius: var(--br);
}
.banner-3Kac2g {
    height: 97px;
}
.theme-dark .container-2Zlzt0 {
    background-color: var(--bg-element);
    border-radius: var(--br);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-radius: var(--br);
}
.theme-dark .background-3N1V7e {
    background-image: none;
}
.theme-dark .guildSubscriptionSection-122NwR, .theme-dark .subscriptionDetails-16jcwU {
    border-color: transparent;
}
button.subscribeButton-2h8nOh.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.sizeLarge-1vSeWK.grow-q77ONN {
    border-radius: var(--br);
}
button.subscribeButton-2h8nOh.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeLarge-1vSeWK.grow-q77ONN {
    border-radius: var(--br);
}
button.subscribeButton-2h8nOh.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.sizeSmall-2cSMqn.grow-q77ONN {
    border-radius: var(--br);
}
.theme-dark .tier1Banner-1B_WXY {
    color: white;
    background-color: var(--bg-element);
}
.featureBorder-7j4v58 {
    border-top: none;
}
.leaveActionWrapper-34XGz6 {
    border-top: none;
}
.notificationsSound-27jFSh {
    box-shadow: none;
}
/* - Friends List - */
/* Background */
.friendsTable-133bsv .friendsTableBody-1ZhKif {
    background-color: transparent;
}
.theme-dark .container-1D34oG {
    background-color: transparent;
}
.nowPlayingColumn-2sl4cE {
    background: transparent;
}
.theme-dark .separator-XqIyoz {
    background-color: transparent;
}

.theme-dark .container-3gCOGc {
    background-color: transparent;
}
/* People */
.peopleList-3c4jOR {
    background-color: transparent;
}
.peopleListItem-2nzedh {
    border-top: none;
}
.peopleListItem-2nzedh {
    border-top: none;
    padding: initial;
    transition: all 0.7s;
}
/* Active Now */
.wrapper-3D2qGf {
    border-radius: var(--br);
    background: var(--bg-element);
    backdrop-filter: var(--bg-blur);
}
.theme-dark .inset-3sAvek {
    border-radius: var(--br);
    background: var(--bg-element);
}
/* List */
.friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border-top: none;
}
.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover {
    border-radius: var(--br);
    background: var(--bg-element);
    backdrop-filter: var(--bg-blur);
}
.friendsTable-133bsv .friendsRow-2yicud:hover {
    background-color: var(--bg-element);
    box-shadow: none;
    border-radius: var(--br);
    border-color: transparent;
    backdrop-filter: var(--bg-blur);
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    border-radius: var(--br) !important;
}
/* Header */
.friendsTable-133bsv .friendsTableHeader-32yE7d {
    border-bottom: none;
}
.friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ {
    border-left: none;
}

.divider-3FBTu8 {
    display: none;
}
/* Add Friend */
.friendsTableAdd-1w2_qZ::before {
    content: "Developer of Dream Frame: Korbs#5777";
    color: white;
    position: absolute;
    bottom: 0px;
    background: var(--bg-element);
    border-radius: var(--br);
    left: 0px;
    margin-bottom: -43px;
    padding: 10px 30px;
    width: -webkit-fill-available;
    backdrop-filter: var(--bg-blur);
}
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background-color: var(--bg-element);
    border-bottom: none;
    border-radius: var(--br);
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    z-index: 5;
}
.theme-dark .wrapper-1cBijl {
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: var(--accentcolor);
    border-radius: var(--br);
}
button.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN {
    background-color: var(--accentcolor);
    border-radius: var(--br);
}
h2.oldH2-2In-bl {
    padding: 10px 0px;
}
.image-1GzsFd.marginBottom40-2vIwTv {
    display: none;
}
.text-GwUZgS.marginTop8-1DLZ1n {
    display: none;
}
.container-1r6BKw.themed-ANHk51 {
    background: transparent;
}
/* - Home / DMs - */
/* Background */
.applicationStore-1pNvnv {
    background-color: transparent;
}
.scroller-9moviB {
    background-color: transparent;
}

.theme-dark .pageWrapper-1PgVDX {
    background-color: transparent;
}
img.bg-AYqtMd.pc-bg {
    display: none;
}
.privateChannels-1nO12o {
    background-color: transparent;
}
.scroller-1JbKMe {
    background-color: transparent;
}
/* Search Bar */ /* url(https://i.imgur.com/lWyGVJx.png) */
.searchBar-6Kv8R2 {
    margin-top: -41px;
}
button.searchBarComponent-32dTOx::before {
    content: "";
    background-image: url(https://i.imgur.com/lWyGVJx.png);
    position: absolute;
    top: -1px;
    left: -2px;
    width: 50px;
    height: 50px;
    z-index: 5;
    background-size: 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #7289da;
}
button.searchBarComponent-32dTOx {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 48px !important;
    height: 48px !important;
    border-radius: 50px !important;
    color: transparent !important;
    z-index: 4;
}
.platform-win button.searchBarComponent-32dTOx {
    top: 4px;
}
/* - Nitro Tab - */
/* Promotion Banner */
.promotionBanner-1fCSab {
    padding: 16px;
    border-radius: 4px;
    background-color: var(--bg-element);
    margin-bottom: 60px;
    border-radius: var(--br);
    backdrop-filter: var(--bg-blur);
}
/* GIF */
.marketingRefreshHeaderAnimation-KQPxGl {
    display: none;
}
/* Bottom */
.marketingRefreshTier2Cta-bw9Vyc {
    border-bottom: none;
}
