/* Root */
:root {
    --br: 7px;
    --background: rgba(0,0,0,0.5);
    --background2: #2e323a7e;

    /* Discord's Vars */
    --header-primary: #fff;
    --channels-default: white;
    --header-secondary: white;
    --text-normal: white;
    --interactive-muted: rgba(255, 255, 255, 0.50);
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-accent: transparent;
    --background-floating: transparent;
    --background-mobile-primary: rgba(0, 0, 0, 0.50);
    --background-mobile-secondary: rgba(0, 0, 0, 0.50);
    --background-modifier-hover: rgba(0, 0, 0, 0.50);
    --background-modifier-active: rgba(0, 0, 0, 0.80);
    --background-modifier-selected: rgba(0, 0, 0, 0.75);
    --background-modifier-accent: rgba(0, 0, 0, 0.50);
    --elevation-low: none;
    --elevation-high: none;
    --logo-primary: white;
    --guild-header-text-shadow: none;
    --channeltextarea-background: transparent;
    --activity-card-background: transparent;
    --textbox-markdown-syntax: transparent;
    --deprecated-panel-background: transparent;
    --deprecated-card-bg: transparent;
    --deprecated-card-editable-bg: transparent;
    --deprecated-store-bg: transparent;
    --deprecated-quickswitcher-input-background: transparent;
    /* */
}
/* Custom Background */
/* In Dream Frame Lite, this is the only custom option that is offer to the user */
.appMount-3lHmkl::before {
    content: "";
    background-image: var(--custombackground);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4);
}
.layer-3QrUeG.baseLayer-35bLyl, .app-2rEoOp, .wrapper-1Rf91z {
    background-color: transparent;
}
.dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}
.contextMenu-HLZMGh {
    background: rgba(0, 0, 0, 0.90);
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: white;
    border-color: transparent;
}
svg {
  color: white !important;
}
