
.statusOffline-37RKt7  {
    background-color: var(--offline);
  }
  .statusOnline-8PnF5L {
    background-color: var(--online);
  }

/* Round Statuses */
.statusProfile-3ynqtt.status-oxiHuE {
    width:96% !important;
    height: 96%;
    right:-2px !important;
    bottom:-2px;
    padding:2px;
    border-width: 2px !important;
    margin: 0;
  }
  .listRow-hutiT_ .status-oxiHuE,.card-7JP0BX .status-oxiHuE {
     width:91% !important;
     height: 91%;
     border-radius: 50%;
     right: -2px !important;
     bottom:-2px;padding:2px;
     border-width: 2px !important;
     margin: 0;
  }
  .autocompleteRow-2OthDa .status-oxiHuE{
    width:82% !important;
    height: 82%;
    border-radius: 50%;
    right: -2px !important;
    bottom: -2px;padding: 2px;
    border-width: 2px !important;
  }
  .members-1998pB .content-OzHfo4 .status-2s6iDp,.container-2Thooq .status-2kJpnA, .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp,.private-channels .status, .channel-2QD9_O .status-1ibiUI {
    border-radius: 50%;
    background-color: transparent;
    background-clip: padding-box;
    bottom: -1px;
    right: -1px;
    height: 28px !important;
    width: 28px !important;
    pointer-events: none;
    border-color: transparent;
  }
  .maskProfile-1ObLFT,.mask-3OgeRz {
    -webkit-mask: none;
    mask: none;
  }
  .status-oxiHuE,.statusProfile-3ynqtt.status-oxiHuE {
    border-radius:50% !important;
    box-shadow:none;-webkit-box-shadow:none;
  }
  .online-2S838R.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .online-2S838R.status-oxiHuE.pc-online.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .online-2S838R,.listRow-hutiT_ .online-2S838R,.card-7JP0BX .online-2S838R,.statusProfile-3ynqtt.online-2S838R,.private-channels .online-2S838R, .container-2Thooq .online-2S838R,.members-1998pB .content-OzHfo4 .online-2S838R {
    background-color: transparent;
    border:2px solid var(--online) !important;
  }
  .streaming-2_dnHe.status-oxiHuE.pc-streaming.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .streaming-2_dnHe,.listRow-hutiT_ .streaming-2_dnHe,.card-7JP0BX .streaming-2_dnHe,.statusProfile-3ynqtt.streaming-2_dnHe,.private-channels .streaming-2_dnHe,.container-2Thooq .streaming-2_dnHe,.members-1998pB .content-OzHfo4 .streaming-2_dnHe {
    background-color: transparent;
    border: 2px solid var(--streaming) !important;
  }
  .dnd-1_xrcq.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .autocompleteRow-2OthDa .dnd-1_xrcq,.listRow-hutiT_ .dnd-1_xrcq,.card-7JP0BX .dnd-1_xrcq,.statusProfile-3ynqtt.dnd-1_xrcq,.private-channels .dnd-1_xrcq,.container-2Thooq .dnd-1_xrcq,.members-1998pB .content-OzHfo4 .dnd-1_xrcq, .dnd-1_xrcq.status-oxiHuE.pc-dnd.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status {
    background-color: transparent;
    border:2px solid var(--dnd) !important;
  }
  .idle-3DEnRT.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .idle-3DEnRT.status-oxiHuE.pc-idle.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .idle-3DEnRT,.listRow-hutiT_ .idle-3DEnRT,.card-7JP0BX .idle-3DEnRT,.statusProfile-3ynqtt.idle-3DEnRT,.private-channels .idle-3DEnRT,.container-2Thooq .idle-3DEnRT,.members-1998pB .content-OzHfo4 .idle-3DEnRT {
    background-color: transparent;
    border:2px solid var(--idle) !important;
  }
  .offline-3qoTek.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .offline-3qoTek.status-oxiHuE.pc-offline.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .invisible-1kp8Z0,.listRow-hutiT_ .invisible-1kp8Z0,.card-7JP0BX .invisible-1kp8Z0,.statusProfile-3ynqtt.invisible-1kp8Z0,.private-channels .invisible-1kp8Z0,.container-2Thooq .invisible-1kp8Z0,.members-1998pB .content-OzHfo4 .invisible-1kp8Z0{
    background-color: transparent;
    border:2px solid var(--offline) !important;
  }
  .autocompleteRow-2OthDa .offline-3qoTek,.listRow-hutiT_ .offline-3qoTek,.card-7JP0BX .offline-3qoTek,.statusProfile-3ynqtt.offline-3qoTek,.private-channels .offline-3qoTek,.container-2Thooq .offline-3qoTek,.members-1998pB .content-OzHfo4 .offline-3qoTek {
    background-color: transparent;
    border:2px solid var(--offline) !important;
  }
  .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp,.status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status {
    left:-1px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    right: -0.5px !important;
  }
  .members-1998pB .content-OzHfo4 .status-2s6iDp, .container-2Thooq .status-2kJpnA, .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp, .private-channels .status, .channel-2QD9_O .status-1ibiUI {
    right: -1px !important;
  }