/* Korbs#0001 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="273169968202252289"] + .statusProfile-3ynqtt {
    background-image: url("https://get.wallhere.com/photo/illustration-minimalism-text-pattern-orange-Himouto-Umaru-chan-Doma-Umaru-color-hand-screenshot-font-83169.png");
    background-position: 0 0px;
		filter: brightness(0.8);
}
/* Winter (Morgana Chase)#0001 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="161692463365357568"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/599325695273074698/SPOILER_narwhal.png");
		filter: blur(var(--NSFWbg)) !important;
}
/* LimonadeSenpai#8143 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="170915043108585472"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/556828876341379092/SPOILER_Anime_4.png");
		filter: blur(var(--NSFWbg)) !important;
}
/* Tropical#8908 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="254362351170617345"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/543140696807178266/Tropical.png");
}
/* FroztySeven#9632 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="155407912481718272"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/501144124880322570/536372585487794177/WIN_20190119_23_12_42_Pro.jpg");
}
/* aaron#5526 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="282340088929845248"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/546107586852945940/howls.gif");
}
/* .intrnl#6380 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="443765978132643850"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/546205630361239563/Surface_Book_-_Rainbow.jpg");
}
/* Naori#0001 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="126053182748098567"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/546690784481640448/1537293941448.png");
}
/* Euros#2239 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="394972798147231754"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/548923807692488714/Golden_Gate_Bridge__Hex_Fade_Wallpaper_Engine.png");
}
/* A user#9868 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="264062457448759296"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/551912240845029386/wallpaper.png");
}
/* KhÃīng LÃđn#8033 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="448590354724421673"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/549480358786367498/unknown.png");
}
/* ï―ï―ï―ï―ï―ï―ï―#5708 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="432625086600708111"] + .statusProfile-3ynqtt {
    background-image: url("https://i.imgur.com/uUAEfVhh.jpg");
}
/* JacobL#5806 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="217737686956507146"] + .statusProfile-3ynqtt {
    background-image: url("https://i.gifer.com/G5Z8.gif");
}
/* Vedallion#9999 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="153134984163622912"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/550319984421634058/gods-hourglass_2560x1440.jpg");
    background-size: 111%;
}
/* Xperium#7457 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="301629609462726656"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/550116947732463626/photo-1494972308805-463bc619d34e.jpg");
}
/* RubixRoyal#5886 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="268735483423490048"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/550431247021768782/road-fog-nature-trees.jpg");
}
/* .ziff.#9484 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="205393108223918080"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/550114024520417281/G5Z8.gif");
}
/* LangKunG MCGTtv#0530 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="419115667174981633"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/551362004565098506/JB_PAUSE_ADVERT_1.jpg");
}
/* AK Felix#0001 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="304770811577892864"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/551374939207237632/Wave-1920x1080.png");
}
/* iShot#6284 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="298184482056568835"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/551858209485357057/iShot.png");
}
/* Snake#7631 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="227489144216092673"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/551785219586261002/battlefield-5-3841x2160-official-battlefield-v-4k-13938_1.jpg");
}
/* Medafu#3096 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="523417274607075328"] + .statusProfile-3ynqtt {
    background-image: url("https://wallpapercave.com/wp/wp1895631.jpg");
}
/* EliteNK#7230 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="271095508842446848"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/551459390989926401/ZZOuSd4.jpg");
}
/* Normie Trash#8386 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="330480275882770433"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/554055062562013204/latest.png");
}
/* NeisanâĒ#5790 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="217329666669674498"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/554975114266148899/Meloetta-BG.jpg");
}
/* WICKwill#6185 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="537393885341548564"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/553586406618824724/1235480448_preview_QQ20171218212538.png");
}
/* Gixol#9340 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="283745803313479681"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/555455191802052608/1478934736_screenshotwork2.jpg");
}
/* Relist#9066 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="294933901439270912"] + .statusProfile-3ynqtt {
    background-image: url("https://i.imgur.com/IvQBybY.gif");
}
/* Heatwave#1346 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="297899354897907715"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/555919689335832586/hm.jpg");
}
/* Cas#3715 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="450522997447720971"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/556535813937168396/mikael-gustafsson-wallpaper-mikael-gustafsson.png");
}
/* Tomi#0596 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="154084427436130304"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/556522856268431360/ce445fd8465705a5f1047a577bc72af5.1000x563x1.jpg");
}
/* Alanexei â#1337 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="163319338403627008"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/569354646691381259/90079.png");
}
/* Medafu#3096 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="523417274607075328"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/239132903928365056/551220226260336660/Northern_Lights.png");
}
/* -TJ#2013 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="147806107824422912"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/556219032148115476/Freeze.png");
}
/* ãĒããŦ#0010 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="232461105111367690"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/557972537355665424/Matoi_Ryuuko_30-2819.jpeg");
}
/* ðHeavensentðŦ#1237 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="135937038477295618"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/572154039135895602/mercy__overwatch__minimalist_wallpaper_by_slezzy7-da8onmr.png");
}
/* techied#1432 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="270737906644156416"] + .statusProfile-3ynqtt {
    background-image: url("https://wallpapercave.com/wp/wp2757874.gif");
}
/* ExxDee#2278 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="284889417187852288"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/573627313602822165/575137432253497354/wp2512519.jpg");
    background-size: 50%;
    background-position: left;
    background-position-y: bottom;
    background-color: #F5EC42;
}
/* NoBlockhuman#2973 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="543710303171510272"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/582544731989606406/DreamFrameCover.png");
}
/* Crying Banana#0798 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="407277406341300225"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/559513086449418260/104177.png");
}
/* âģðķððŧðððūâīðâðķð#2104 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="302749787953037312"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/558036832844120074/28.png");
}
/* 💞Minxx💫 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="135937038477295618"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/583424163960848384/ezgif-2-22e35963a6e7.gif");
}
/* Beuwy 🌸🌷(~rep=5M, t!rep=5M) */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="191752689644732425"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/584175721858072604/wallpaper.png");
}
/* Detective C.#8041 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="452515576225595394"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/585902259934593035/ee30d99b2b45b9109da29699ea2498460a5253a0_hq.jpg");
}
/* Big Man#8386 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="330480275882770433"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/586420294269272064/Capture12.png");
}
/* Acozius#8235 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="486991639319937024"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/589865856868286484/Free-Koenigsegg-Agera-R-Image.png");
}