/* Add Friend */
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background: transparent;
    border-bottom: transparent;
  }
  .tabBar-1E2ExX .primary-3j8BhM {
    background-color: var(--accentcolor) !important;
    color: var(--accenttext) !important;
  }
  .theme-dark .wrapper-1cBijl {
    background-color: rgba(36,39,43,.2);
    border-color: transparent;
  }
  .theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
    border-bottom: none;
  }
  /* Header */
  .topPill-30KHOu .separator-gCa7yv {
    width: 0px;
  }
  .item-PXvHYJ {
    font-size: 15px;
  }
  /* Friends */
  .theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border-top: none;
  }
  .channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a {
    background-color: rgba(0,0,0,0.25);
  }
  .theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {
    border-bottom: none;
  }
  .theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
    background-color: transparent;
  }
  /* Buttons */
  .friendsAction-__WNE9.pc-friendsAction.friendsActionRemove-qu8nnl.pc-friendsActionRemove, .friendsAction-__WNE9.pc-friendsAction.friendsActionVideoCall-2_PKeP.pc-friendsActionVideoCall, .friendsAction-__WNE9.pc-friendsAction.friendsActionVoiceCall-3EdPsR.pc-friendsActionVoiceCall {
    border-radius: 50px;
  }
  .friendsAction-__WNE9.da-friendsAction.friendsActionRemove-qu8nnl.da-friendsActionRemove, .friendsAction-__WNE9.da-friendsAction.friendsActionVideoCall-2_PKeP.da-friendsActionVideoCall, .friendsAction-__WNE9.da-friendsAction.friendsActionVoiceCall-3EdPsR.da-friendsActionVoiceCall {
    border-radius: 50px;
  }
  .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
  border-radius: 50px;
  }
  /* DM list */
  .name-2WpE7M {
    color: white;
}
.channel-2QD9_O .linkButtonIcon-Mlm5d6 {
    color: white;
}
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--colorbar);
  }
  .channel-2QD9_O .linkButtonIcon-Mlm5d6 {
    color: white;
  }
  /* Quick Switcher */
  .searchBar-6Kv8R2::before {
    content: "Home ";
    color: white;
    width: 1000px;
    min-width: 1000px;
    cursor: pointer;
  }
  .searchBar-6Kv8R2:active::before {
    content: "Press ⌘/Ctrl K to access search";
    color: white;
    font-size: 8;
  }
  .searchBar-6Kv8R2 {
    box-shadow: none;
  }
  .searchBar-2_Yu-C .searchBarInner-1_Tg2R {
    background: transparent;
    border: none;
  }
  .searchBar-2_Yu-C.searchBarComponent-32dTOx {
    visibility: hidden;
  }
  .name-2WpE7M {
  color: white;
  }
  .searchBar-6Kv8R2.da-searchBar {
    margin-top: 11px;
  }
  .searchBar-6Kv8R2.pc-searchBar {
    margin-top: 11px;
  }