/* Powercord Game Plugin */
.powercord-games-bar {
    display: none;
}
/* If Transparent is on and titlebar goes missing on Linux, this will fix that ;) */
.platform-linux::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 13px;
    -webkit-app-region: drag;
}
/* Windows Titlebar Icons */
.powercord-games-bar .powercord-game-img {
    visibility: hidden;
  }
  .titleBar-AC4pGV div:nth-of-type(2) {
  background-image: var(--closeButton);
  }
  .titleBar-AC4pGV div:nth-of-type(3) {
  background-image: var(--maxButton);
  }
  .titleBar-AC4pGV div:nth-of-type(4) {
  background-image: var(--minButton);
  }
  .titleBar-AC4pGV .winButton-iRh8-Z { /* adjust size and position */
  background-color: transparent;
  background-size: var(--sizeOfButtons);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .6;
  filter: 0%;
  }
  .winButton-iRh8-Z svg { /* To hide default titlebar icons */
    opacity: var(--defaulttb);
  }
  /* macOS Titlebar Icon Colors */
  .macButtonMaximize-2FMHAO {
    background-color: var(--macOSMax);
  }
  .macButtonMinimize-3EJ6wo {
  background-color: var(--macOSMin);
  }
  .macButtonClose-MwZ2nf {
  background-color: var(--macOSClose);
  }