.theme-dark .header-39GIC8 {
    border-bottom-color: transparent;
    color: white;
}
.theme-dark .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
    border-top-color: transparent;
}
.theme-dark .headerCell-3L6rFG {
    border-left-color: transparent;
}
.theme-dark .root-1BQpZw {
    background-color: transparent;
}