/* BBU - Background Boot Up */
/* BLS - Background Loading Screen */
/* V - Version */

@keyframes BBU {
    0% {
        content: "";
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: var(--custombackground);
        transform: scale(2) rotate(-35deg);
        background-size: cover;
        background-repeat: var(--bgrepeat);
        filter: blur(var(--blur));
    }
    100% {
        content: "";
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: var(--custombackground);
        transform: scale(var(--bgscale)) rotate(var(--bgrotation));
        background-size: cover;
        background-repeat: var(--bgrepeat);
        opacity: var(--opacitybg);
        filter: blur(var(--blur)) brightness(var(--opacitybg);
    }
}
