/* Profile Pop Out - From Members List */
.theme-dark .headerNormal-T_seeN, .headerSpotify-zpWxgT, .headerStreaming-2FjmGz {
    background-color: #7289DA;
}
/* Protip, no one cares */
.protip-YaFfgO.pc-protip.marginTop8-1DLZ1n.pc-marginTop8.inline-136HKr {
    visibility: hidden;
    height: 0px;
}
/* Seperator */
.theme-dark .footer-1fjuF6 {
    border-color: transparent;
}
.footer-1fjuF6.pc-footer {
    visibility: hidden;
    height: 0px;
    margin: -1px;
    padding: 0px;
}
/* */
.headerFill-adLl4x {
    background-color: transparent;
}
/* Seperator */
.tabBarContainer-1s1u-z {
    border-top: none;
}
/* Send Friend Request/Send Message Button */
.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #7289DA;
    background-color: white;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    color: #7289DA !important;
    background-color: white !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
    color: #7289DA !important;
    background-color: white !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
    color: #7289DA !important;
    background-color: white !important;
}
/* Top Portion */
.theme-dark .topSectionNormal-2-vo2m {
    background-color: #7289DA;
}
.topSectionStreaming-1Tpf5X {
    background: #7289DA;
}
.topSectionSpotify-1lI0-P {
    background: #7289DA;
}
/* Badges */
.flex-1xMQg5.flex-1O1GKY.pc-flex.pc-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.profileBadges-2vWUYb.pc-profileBadges {
    filter: brightness(10);
}
/* Menu - Info, Servers, and Friends */
.top-28JiJ- .item-PXvHYJ {
    border-bottom: 2px solid transparent;
    border: 2px solid white;
    padding: 5px 20px 5px 20px !important;
    height: 22px;
    border-radius: 5px;
    margin-top: 10px;
}
/* User Info */
.body-3ND3kc.pc-body {
    height: auto;
}
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}
/* Socials */
.connectedAccountOpenIcon-2cNbq5.pc-connectedAccountOpenIcon {
    background: none;
  }
  .flex-1xMQg5.flex-1O1GKY.pc-flex.pc-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.connectedAccount-36nQx7.pc-connectedAccount {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  .connectedAccountName-f8AEe2 {
    color: white;
  }
  .connectedAccountOpenIcon-2cNbq5 {
    background: blank;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 264px;
    height: 46px;
    position: absolute;
    /* top: 0px; */
    margin-top: -23px;
    margin-left: -249px;
    border-radius: 5px;
  }
  /* */
.listRow-hutiT_.flex-1O1GKY.pc-listRow.pc-flex {
    color: white;
    padding: 10px 10px !important;
    display: -webkit-inline-box;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 42%;
  }






  
