/* Width */
.listItem-2P_4kh {
    width: 90px;
}
/* Positioning */
.wrapper-1Rf91z.pc-wrapper {
    margin-right: 20px;
}
.scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.pc-scroller.pc-firefoxFixScrollFlex.systemPad-3UxEGl.pc-systemPad.scroller-2TZvBN.pc-scroller {
    margin-top: 9px;
}
/* Server Indicator */
.item-2hkk8m {
    background-color: var(--serverselected);
}
/* Seperator */
.guildSeparator-3s64Iy {
    height: 0px;
}
/* + and search */
.circleIconButton-jET_ig {
    background-color: #292b2f00;
    color: white;
}
/* Forcing icons to be --servericonbr */
.svg-1X37T1, .wrapper-25eVIn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: var(--servericonbr);
}
/* Home Icon */
.homeIcon-tEMBK1 {
    color: transparent;
}
a.button-OhfaWu.pc-button.wrapper-1BJsBx.pc-wrapper {
    background-image: var(--homeicon);
    background-size: var(--homeiconsize);
    background-position: center;
    background-repeat: no-repeat;
}
.theme-dark .button-OhfaWu, .theme-light .button-OhfaWu {
    background-color: var(--accentcolor);
}
/* Hidden/Visible Button - Guilds Plugin Built into Powercord */
.powercord-hidden-btn {
    margin-left: 8px;
}



/* New | Server Folders */
.theme-dark .expandedFolderBackground-2sPsd-, .theme-light .expandedFolderBackground-2sPsd- {
    background-color: rgba(0, 0, 0, 0.25);
    margin-left: 9px !important;
}

.expandedFolderBackground-2sPsd- {
    position: absolute;
    top: -3px;
    left: 9.7px;
    bottom: 5px;
    width: 52px;
    border-radius: 24px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    padding: 0px 0px 0px 0px;
}

.expandedFolderBackground-2sPsd-.selected-2vZ0oV {
    background-color: var(--accentcolor) !important;
}

.theme-dark .expandedFolderBackground-2sPsd-.collapsed-1GMuSb, .theme-light .expandedFolderBackground-2sPsd-.collapsed-1GMuSb {
    background-color: transparent;
}

button.colorPickerSwatch-5GX3Ve.pc-colorPickerSwatch {
    border-radius: 12px;
}

